In [187]:
import pandas as pd
import numpy as np
import pickle
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings(action='ignore')
#모델
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score
from sklearn.preprocessing import LabelBinarizer
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [110]:
data=pd.read_csv('train.csv')
real=pd.read_csv('test.csv')
submit=pd.read_csv('sample_submission.csv')

In [111]:
data.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [112]:
data.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [113]:
data.groupby(['Transported','HomePlanet']).size()

Transported  HomePlanet
False        Earth         2651
             Europa         727
             Mars           839
True         Earth         1951
             Europa        1404
             Mars           920
dtype: int64

In [114]:
data['passenger']=data['PassengerId'].str[:4]

In [115]:
data['passenger']

0       0001
1       0002
2       0003
3       0003
4       0004
        ...
8688    9276
8689    9278
8690    9279
8691    9280
8692    9280
Name: passenger, Length: 8693, dtype: object

In [116]:
home_passenger=data.groupby(['passenger','HomePlanet']).size().reset_index()
home_passenger

     passenger HomePlanet  0
0         0001     Europa  1
1         0002      Earth  1
2         0003     Europa  2
3         0004      Earth  1
4         0005      Earth  1
...        ...        ... ..
6102      9275     Europa  3
6103      9276     Europa  1
6104      9278      Earth  1
6105      9279      Earth  1
6106      9280     Europa  2

[6107 rows x 3 columns]

In [117]:
home_passenger['passenger']

0       0001
1       0002
2       0003
3       0004
4       0005
        ...
6102    9275
6103    9276
6104    9278
6105    9279
6106    9280
Name: passenger, Length: 6107, dtype: object

In [118]:
home_passenger['HomePlanet']

0       Europa
1        Earth
2       Europa
3        Earth
4        Earth
         ...
6102    Europa
6103    Europa
6104     Earth
6105     Earth
6106    Europa
Name: HomePlanet, Length: 6107, dtype: object

In [119]:
home_dict={}
for i,j in zip(home_passenger['passenger'],home_passenger['HomePlanet']):
    home_dict[i]=j

In [120]:
home_dict

{'0001': 'Europa',
 '0002': 'Earth',
 '0003': 'Europa',
 '0004': 'Earth',
 '0005': 'Earth',
 '0006': 'Earth',
 '0007': 'Earth',
 '0008': 'Europa',
 '0009': 'Mars',
 '0010': 'Earth',
 '0011': 'Earth',
 '0012': 'Earth',
 '0014': 'Mars',
 '0015': 'Earth',
 '0016': 'Mars',
 '0017': 'Earth',
 '0020': 'Earth',
 '0022': 'Mars',
 '0024': 'Europa',
 '0025': 'Earth',
 '0026': 'Europa',
 '0028': 'Mars',
 '0030': 'Earth',
 '0031': 'Mars',
 '0034': 'Europa',
 '0035': 'Mars',
 '0036': 'Earth',
 '0038': 'Earth',
 '0039': 'Earth',
 '0041': 'Earth',
 '0043': 'Europa',
 '0044': 'Earth',
 '0045': 'Mars',
 '0050': 'Earth',
 '0051': 'Earth',
 '0052': 'Earth',
 '0053': 'Earth',
 '0056': 'Europa',
 '0058': 'Earth',
 '0061': 'Earth',
 '0062': 'Earth',
 '0064': 'Mars',
 '0066': 'Earth',
 '0067': 'Earth',
 '0068': 'Mars',
 '0069': 'Earth',
 '0070': 'Earth',
 '0071': 'Earth',
 '0072': 'Earth',
 '0073': 'Mars',
 '0074': 'Europa',
 '0076': 'Mars',
 '0077': 'Mars',
 '0078': 'Europa',
 '0081': 'Earth',
 '0082': 'Mars',
 '0084': 'Earth',
 '0085': 'Europa',
 '0086': 'Earth',
 '0088': 'Mars',
 '0090': 'Earth',
 '0091': 'Earth',
 '0092': 'Earth',
 '0097': 'Europa',
 '0098': 'Earth',
 '0099': 'Earth',
 '0101': 'Mars',
 '0102': 'Earth',
 '0103': 'Earth',
 '0105': 'Earth',
 '0107': 'Mars',
 '0108': 'Earth',
 '0110': 'Europa',
 '0111': 'Europa',
 '0112': 'Europa',
 '0113': 'Earth',
 '0114': 'Earth',
 '0115': 'Mars',
 '0116': 'Europa',
 '0119': 'Europa',
 '0120': 'Mars',
 '0122': 'Earth',
 '0123': 'Earth',
 '0126': 'Mars',
 '0127': 'Mars',
 '0128': 'Mars',
 '0129': 'Earth',
 '0133': 'Mars',
 '0134': 'Earth',
 '0136': 'Earth',
 '0138': 'Earth',
 '0139': 'Europa',
 '0140': 'Earth',
 '0141': 'Mars',
 '0144': 'Earth',
 '0146': 'Earth',
 '0147': 'Earth',
 '0148': 'Mars',
 '0149': 'Earth',
 '0151': 'Earth',
 '0152': 'Earth',
 '0160': 'Earth',
 '0163': 'Europa',
 '0164': 'Earth',
 '0165': 'Mars',
 '0167': 'Mars',
 '0169': 'Earth',
 '0170': 'Earth',
 '0171': 'Earth',
 '0172': 'Earth',
 '0173': 'Earth',
 '0174': 'Earth',
 '0177': 'Europa',
 '0178': 'Mars',
 '0179': 'Earth',
 '0181': 'Earth',
 '0182': 'Europa',
 '0183': 'Earth',
 '0186': 'Earth',
 '0188': 'Earth',
 '0189': 'Earth',
 '0190': 'Earth',
 '0192': 'Earth',
 '0193': 'Mars',
 '0195': 'Mars',
 '0196': 'Mars',
 '0197': 'Europa',
 '0198': 'Earth',
 '0199': 'Earth',
 '0200': 'Earth',
 '0201': 'Europa',
 '0202': 'Europa',
 '0203': 'Europa',
 '0205': 'Earth',
 '0206': 'Europa',
 '0207': 'Earth',
 '0211': 'Mars',
 '0212': 'Earth',
 '0213': 'Earth',
 '0216': 'Earth',
 '0217': 'Earth',
 '0219': 'Earth',
 '0220': 'Earth',
 '0221': 'Mars',
 '0222': 'Mars',
 '0223': 'Earth',
 '0224': 'Mars',
 '0225': 'Earth',
 '0229': 'Earth',
 '0231': 'Mars',
 '0232': 'Earth',
 '0233': 'Mars',
 '0234': 'Earth',
 '0237': 'Europa',
 '0239': 'Mars',
 '0240': 'Mars',
 '0241': 'Europa',
 '0243': 'Earth',
 '0244': 'Mars',
 '0245': 'Europa',
 '0246': 'Mars',
 '0248': 'Europa',
 '0250': 'Earth',
 '0252': 'Earth',
 '0253': 'Earth',
 '0254': 'Earth',
 '0255': 'Europa',
 '0257': 'Mars',
 '0258': 'Earth',
 '0260': 'Europa',
 '0261': 'Earth',
 '0263': 'Earth',
 '0265': 'Europa',
 '0267': 'Earth',
 '0269': 'Earth',
 '0270': 'Earth',
 '0275': 'Europa',
 '0277': 'Earth',
 '0278': 'Earth',
 '0281': 'Earth',
 '0282': 'Earth',
 '0283': 'Earth',
 '0285': 'Europa',
 '0286': 'Earth',
 '0287': 'Europa',
 '0288': 'Earth',
 '0289': 'Europa',
 '0290': 'Europa',
 '0291': 'Europa',
 '0294': 'Europa',
 '0297': 'Earth',
 '0298': 'Europa',
 '0301': 'Earth',
 '0302': 'Earth',
 '0304': 'Europa',
 '0305': 'Europa',
 '0306': 'Earth',
 '0307': 'Earth',
 '0309': 'Earth',
 '0310': 'Europa',
 '0313': 'Earth',
 '0314': 'Earth',
 '0316': 'Europa',
 '0320': 'Earth',
 '0322': 'Earth',
 '0324': 'Earth',
 '0326': 'Earth',
 '0327': 'Earth',
 '0330': 'Europa',
 '0331': 'Earth',
 '0333': 'Mars',
 '0334': 'Mars',
 '0336': 'Earth',
 '0337': 'Mars',
 '0338': 'Earth',
 '0340': 'Europa',
 '0341': 'Earth',
 '0343': 'Earth',
 '0345': 'Mars',
 '0346': 'Earth',
 '0347': 'Mars',
 '0348': 'Mars',
 '0350': 'Earth',
 '0352': 'Mars',
 '0355': 'Earth',
 '0356': 'Europa',
 '0357': 'Earth',
 '0358': 'Earth',
 '0359': 'Earth',
 '0360': 'Earth',
 '0361': 'Earth',
 '0365': 'Earth',
 '0368': 'Mars',
 '0369': 'Earth',
 '0370': 'Earth',
 '0371': 'Mars',
 '0372': 'Earth',
 '0373': 'Earth',
 '0375': 'Earth',
 '0376': 'Earth',
 '0377': 'Europa',
 '0378': 'Europa',
 '0379': 'Earth',
 '0380': 'Europa',
 '0381': 'Europa',
 '0383': 'Earth',
 '0384': 'Earth',
 '0385': 'Earth',
 '0387': 'Earth',
 '0388': 'Earth',
 '0389': 'Earth',
 '0391': 'Europa',
 '0392': 'Earth',
 '0395': 'Europa',
 '0396': 'Earth',
 '0397': 'Mars',
 '0398': 'Mars',
 '0401': 'Mars',
 '0403': 'Mars',
 '0405': 'Earth',
 '0407': 'Earth',
 '0408': 'Mars',
 '0409': 'Mars',
 '0410': 'Earth',
 '0411': 'Earth',
 '0412': 'Europa',
 '0413': 'Earth',
 '0415': 'Earth',
 '0417': 'Europa',
 '0423': 'Europa',
 '0425': 'Mars',
 '0427': 'Europa',
 '0428': 'Europa',
 '0429': 'Europa',
 '0430': 'Earth',
 '0431': 'Mars',
 '0432': 'Mars',
 '0433': 'Europa',
 '0434': 'Mars',
 '0435': 'Earth',
 '0436': 'Earth',
 '0437': 'Earth',
 '0438': 'Europa',
 '0439': 'Europa',
 '0441': 'Earth',
 '0442': 'Earth',
 '0444': 'Mars',
 '0445': 'Earth',
 '0446': 'Europa',
 '0447': 'Earth',
 '0448': 'Earth',
 '0449': 'Earth',
 '0452': 'Mars',
 '0453': 'Europa',
 '0454': 'Europa',
 '0456': 'Earth',
 '0457': 'Earth',
 '0458': 'Europa',
 '0459': 'Earth',
 '0460': 'Earth',
 '0461': 'Earth',
 '0462': 'Earth',
 '0463': 'Mars',
 '0465': 'Earth',
 '0466': 'Earth',
 '0468': 'Earth',
 '0470': 'Mars',
 '0471': 'Europa',
 '0472': 'Earth',
 '0474': 'Earth',
 '0475': 'Earth',
 '0476': 'Mars',
 '0477': 'Earth',
 '0480': 'Earth',
 '0481': 'Earth',
 '0482': 'Earth',
 '0485': 'Europa',
 '0487': 'Europa',
 '0488': 'Earth',
 '0490': 'Earth',
 '0498': 'Europa',
 '0499': 'Mars',
 '0500': 'Mars',
 '0501': 'Europa',
 '0502': 'Mars',
 '0503': 'Mars',
 '0504': 'Europa',
 '0506': 'Mars',
 '0507': 'Earth',
 '0510': 'Europa',
 '0512': 'Europa',
 '0513': 'Earth',
 '0515': 'Europa',
 '0516': 'Europa',
 '0517': 'Earth',
 '0519': 'Earth',
 '0520': 'Earth',
 '0521': 'Earth',
 '0522': 'Earth',
 '0523': 'Earth',
 '0525': 'Earth',
 '0527': 'Mars',
 '0528': 'Europa',
 '0529': 'Earth',
 '0531': 'Earth',
 '0533': 'Mars',
 '0534': 'Europa',
 '0537': 'Earth',
 '0538': 'Earth',
 '0539': 'Europa',
 '0540': 'Mars',
 '0542': 'Earth',
 '0545': 'Earth',
 '0546': 'Earth',
 '0547': 'Earth',
 '0548': 'Earth',
 '0549': 'Mars',
 '0550': 'Earth',
 '0551': 'Earth',
 '0552': 'Europa',
 '0553': 'Europa',
 '0555': 'Europa',
 '0556': 'Earth',
 '0559': 'Earth',
 '0560': 'Earth',
 '0561': 'Earth',
 '0563': 'Mars',
 '0564': 'Europa',
 '0565': 'Mars',
 '0566': 'Mars',
 '0567': 'Earth',
 '0568': 'Europa',
 '0569': 'Earth',
 '0570': 'Europa',
 '0571': 'Europa',
 '0572': 'Earth',
 '0573': 'Earth',
 '0575': 'Europa',
 '0576': 'Earth',
 '0577': 'Earth',
 '0579': 'Earth',
 '0580': 'Earth',
 '0581': 'Earth',
 '0582': 'Mars',
 '0583': 'Mars',
 '0585': 'Mars',
 '0586': 'Europa',
 '0587': 'Mars',
 '0588': 'Earth',
 '0589': 'Earth',
 '0590': 'Earth',
 '0591': 'Earth',
 '0593': 'Mars',
 '0594': 'Earth',
 '0596': 'Mars',
 '0597': 'Earth',
 '0598': 'Earth',
 '0599': 'Mars',
 '0600': 'Europa',
 '0602': 'Mars',
 '0603': 'Earth',
 '0607': 'Europa',
 '0608': 'Earth',
 '0609': 'Mars',
 '0610': 'Earth',
 '0611': 'Earth',
 '0612': 'Europa',
 '0614': 'Earth',
 '0615': 'Earth',
 '0618': 'Earth',
 '0619': 'Europa',
 '0623': 'Earth',
 '0628': 'Earth',
 '0629': 'Earth',
 '0630': 'Mars',
 '0631': 'Mars',
 '0633': 'Mars',
 '0634': 'Earth',
 '0635': 'Earth',
 '0636': 'Earth',
 '0637': 'Mars',
 '0638': 'Europa',
 '0639': 'Earth',
 '0641': 'Earth',
 '0642': 'Europa',
 '0643': 'Mars',
 '0644': 'Europa',
 '0645': 'Earth',
 '0646': 'Europa',
 '0647': 'Mars',
 '0650': 'Earth',
 '0653': 'Mars',
 '0655': 'Mars',
 '0656': 'Earth',
 '0657': 'Earth',
 '0658': 'Earth',
 '0659': 'Earth',
 '0660': 'Earth',
 '0661': 'Europa',
 '0663': 'Earth',
 '0664': 'Europa',
 '0665': 'Mars',
 '0668': 'Earth',
 '0669': 'Earth',
 '0671': 'Earth',
 '0672': 'Earth',
 '0674': 'Earth',
 '0677': 'Earth',
 '0678': 'Earth',
 '0679': 'Earth',
 '0680': 'Earth',
 '0682': 'Mars',
 '0683': 'Mars',
 '0684': 'Mars',
 '0685': 'Earth',
 '0686': 'Mars',
 '0687': 'Mars',
 '0688': 'Mars',
 '0689': 'Europa',
 '0690': 'Mars',
 '0691': 'Mars',
 '0693': 'Europa',
 '0696': 'Earth',
 '0697': 'Earth',
 '0699': 'Mars',
 '0701': 'Europa',
 '0702': 'Earth',
 '0703': 'Earth',
 '0704': 'Earth',
 '0705': 'Earth',
 '0707': 'Earth',
 '0709': 'Europa',
 '0710': 'Mars',
 '0712': 'Mars',
 '0713': 'Earth',
 '0714': 'Earth',
 '0715': 'Europa',
 '0718': 'Earth',
 '0719': 'Mars',
 '0724': 'Earth',
 '0726': 'Earth',
 '0727': 'Earth',
 '0728': 'Earth',
 '0729': 'Earth',
 '0732': 'Earth',
 '0733': 'Earth',
 '0734': 'Earth',
 '0736': 'Earth',
 '0737': 'Europa',
 '0738': 'Mars',
 '0740': 'Europa',
 '0743': 'Earth',
 '0746': 'Earth',
 '0750': 'Earth',
 '0753': 'Europa',
 '0754': 'Europa',
 '0756': 'Europa',
 '0757': 'Mars',
 '0761': 'Europa',
 '0762': 'Earth',
 '0764': 'Earth',
 '0765': 'Mars',
 '0767': 'Earth',
 '0768': 'Europa',
 '0769': 'Europa',
 '0770': 'Earth',
 '0771': 'Earth',
 '0772': 'Europa',
 '0773': 'Earth',
 '0776': 'Earth',
 '0777': 'Europa',
 '0779': 'Earth',
 '0781': 'Earth',
 '0782': 'Mars',
 '0784': 'Europa',
 '0785': 'Earth',
 '0786': 'Earth',
 '0787': 'Earth',
 '0788': 'Earth',
 '0789': 'Europa',
 '0790': 'Earth',
 '0791': 'Earth',
 '0793': 'Earth',
 '0794': 'Mars',
 '0795': 'Earth',
 '0796': 'Europa',
 '0797': 'Earth',
 '0798': 'Mars',
 '0799': 'Europa',
 '0802': 'Mars',
 '0805': 'Europa',
 '0806': 'Earth',
 '0808': 'Earth',
 '0809': 'Mars',
 '0811': 'Mars',
 '0813': 'Mars',
 '0815': 'Earth',
 '0816': 'Europa',
 '0817': 'Earth',
 '0818': 'Europa',
 '0819': 'Earth',
 '0820': 'Earth',
 '0822': 'Earth',
 '0823': 'Earth',
 '0824': 'Mars',
 '0825': 'Earth',
 '0826': 'Earth',
 '0828': 'Earth',
 '0829': 'Earth',
 '0830': 'Earth',
 '0833': 'Europa',
 '0834': 'Earth',
 '0835': 'Earth',
 '0836': 'Mars',
 '0839': 'Europa',
 '0840': 'Earth',
 '0845': 'Europa',
 '0846': 'Earth',
 '0848': 'Mars',
 '0849': 'Europa',
 '0850': 'Mars',
 '0851': 'Earth',
 '0859': 'Earth',
 '0860': 'Earth',
 '0863': 'Earth',
 '0865': 'Europa',
 '0867': 'Earth',
 '0868': 'Earth',
 '0869': 'Earth',
 '0870': 'Earth',
 '0871': 'Europa',
 '0873': 'Earth',
 '0874': 'Earth',
 '0875': 'Earth',
 '0876': 'Earth',
 '0877': 'Europa',
 '0878': 'Mars',
 '0879': 'Earth',
 '0881': 'Europa',
 '0883': 'Earth',
 '0885': 'Earth',
 '0889': 'Europa',
 '0890': 'Mars',
 '0893': 'Earth',
 '0898': 'Earth',
 '0899': 'Earth',
 '0901': 'Mars',
 '0902': 'Earth',
 '0903': 'Earth',
 '0904': 'Europa',
 '0905': 'Mars',
 '0906': 'Earth',
 '0907': 'Europa',
 '0910': 'Earth',
 '0911': 'Mars',
 '0912': 'Europa',
 '0913': 'Europa',
 '0915': 'Earth',
 '0918': 'Earth',
 '0919': 'Earth',
 '0921': 'Earth',
 '0922': 'Europa',
 '0923': 'Europa',
 '0924': 'Earth',
 '0925': 'Mars',
 '0926': 'Europa',
 '0927': 'Earth',
 '0928': 'Earth',
 '0930': 'Earth',
 '0931': 'Earth',
 '0932': 'Mars',
 '0933': 'Europa',
 '0935': 'Earth',
 '0938': 'Earth',
 '0939': 'Earth',
 '0940': 'Earth',
 '0941': 'Earth',
 '0942': 'Mars',
 '0944': 'Earth',
 '0946': 'Earth',
 '0947': 'Earth',
 '0949': 'Earth',
 '0951': 'Earth',
 '0952': 'Mars',
 '0953': 'Earth',
 '0955': 'Earth',
 '0956': 'Earth',
 '0957': 'Mars',
 '0960': 'Earth',
 '0961': 'Earth',
 '0964': 'Europa',
 '0965': 'Mars',
 '0966': 'Earth',
 '0968': 'Earth',
 '0969': 'Mars',
 '0970': 'Earth',
 '0971': 'Earth',
 '0972': 'Earth',
 '0975': 'Earth',
 '0976': 'Earth',
 '0978': 'Earth',
 '0979': 'Europa',
 '0982': 'Earth',
 '0983': 'Earth',
 '0984': 'Earth',
 '0985': 'Earth',
 '0987': 'Earth',
 '0988': 'Earth',
 '0989': 'Earth',
 '0990': 'Earth',
 '0991': 'Earth',
 '0992': 'Europa',
 '0993': 'Earth',
 '0994': 'Earth',
 '0995': 'Europa',
 '0997': 'Mars',
 '0998': 'Europa',
 '1000': 'Mars',
 '1001': 'Earth',
 '1002': 'Mars',
 '1004': 'Europa',
 '1005': 'Earth',
 '1006': 'Earth',
 '1008': 'Europa',
 '1011': 'Earth',
 '1012': 'Earth',
 '1013': 'Earth',
 '1014': 'Mars',
 '1015': 'Earth',
 '1017': 'Earth',
 '1018': 'Earth',
 '1019': 'Earth',
 '1020': 'Mars',
 '1022': 'Earth',
 '1024': 'Earth',
 '1025': 'Earth',
 '1026': 'Earth',
 '1027': 'Mars',
 '1029': 'Mars',
 '1030': 'Earth',
 '1031': 'Earth',
 '1032': 'Earth',
 '1033': 'Earth',
 '1034': 'Earth',
 '1035': 'Mars',
 '1036': 'Earth',
 '1038': 'Earth',
 '1040': 'Earth',
 '1041': 'Europa',
 '1043': 'Earth',
 '1045': 'Europa',
 '1046': 'Earth',
 '1047': 'Earth',
 '1048': 'Earth',
 '1049': 'Mars',
 '1051': 'Earth',
 '1052': 'Earth',
 '1053': 'Earth',
 '1054': 'Earth',
 '1056': 'Mars',
 '1057': 'Europa',
 '1058': 'Earth',
 '1060': 'Earth',
 '1062': 'Earth',
 '1063': 'Europa',
 '1065': 'Mars',
 '1066': 'Mars',
 '1068': 'Earth',
 '1075': 'Europa',
 '1076': 'Earth',
 '1077': 'Earth',
 '1078': 'Earth',
 '1079': 'Earth',
 '1080': 'Mars',
 '1082': 'Mars',
 '1083': 'Mars',
 '1084': 'Earth',
 '1085': 'Earth',
 '1086': 'Earth',
 '1088': 'Earth',
 '1089': 'Europa',
 '1091': 'Mars',
 '1093': 'Mars',
 '1094': 'Earth',
 '1095': 'Europa',
 '1096': 'Earth',
 '1097': 'Mars',
 '1099': 'Earth',
 '1100': 'Mars',
 '1102': 'Mars',
 '1105': 'Earth',
 '1108': 'Mars',
 '1110': 'Europa',
 '1112': 'Europa',
 '1113': 'Earth',
 '1114': 'Mars',
 '1115': 'Earth',
 '1116': 'Earth',
 '1117': 'Earth',
 '1121': 'Earth',
 '1123': 'Europa',
 '1127': 'Europa',
 '1129': 'Earth',
 '1130': 'Mars',
 '1132': 'Earth',
 '1133': 'Mars',
 '1134': 'Europa',
 '1136': 'Earth',
 '1140': 'Europa',
 '1141': 'Earth',
 '1142': 'Earth',
 '1144': 'Earth',
 '1146': 'Earth',
 '1147': 'Europa',
 '1148': 'Europa',
 '1149': 'Earth',
 '1150': 'Earth',
 '1152': 'Mars',
 '1153': 'Earth',
 '1154': 'Europa',
 '1155': 'Earth',
 '1156': 'Europa',
 '1161': 'Europa',
 '1162': 'Europa',
 '1163': 'Earth',
 '1165': 'Europa',
 '1166': 'Europa',
 '1167': 'Mars',
 '1168': 'Earth',
 '1169': 'Mars',
 '1170': 'Earth',
 '1173': 'Earth',
 '1174': 'Earth',
 '1175': 'Mars',
 '1177': 'Europa',
 '1178': 'Earth',
 '1179': 'Europa',
 '1180': 'Earth',
 '1182': 'Mars',
 '1185': 'Mars',
 '1186': 'Earth',
 '1187': 'Earth',
 '1188': 'Europa',
 '1190': 'Earth',
 '1191': 'Earth',
 '1192': 'Earth',
 '1193': 'Europa',
 '1195': 'Earth',
 '1197': 'Europa',
 '1198': 'Mars',
 '1199': 'Earth',
 '1203': 'Europa',
 '1206': 'Earth',
 '1208': 'Earth',
 '1210': 'Earth',
 '1211': 'Earth',
 '1212': 'Earth',
 '1213': 'Earth',
 '1214': 'Earth',
 '1215': 'Earth',
 '1216': 'Earth',
 '1218': 'Earth',
 '1220': 'Europa',
 '1221': 'Earth',
 '1222': 'Earth',
 '1223': 'Europa',
 '1225': 'Earth',
 '1228': 'Mars',
 '1229': 'Earth',
 '1230': 'Earth',
 '1231': 'Mars',
 '1232': 'Europa',
 '1233': 'Earth',
 '1234': 'Earth',
 '1235': 'Earth',
 '1236': 'Earth',
 '1238': 'Europa',
 '1239': 'Earth',
 '1240': 'Earth',
 '1242': 'Europa',
 '1243': 'Europa',
 '1246': 'Earth',
 '1248': 'Earth',
 '1250': 'Earth',
 '1254': 'Mars',
 '1255': 'Mars',
 '1256': 'Mars',
 '1258': 'Europa',
 '1259': 'Earth',
 '1260': 'Earth',
 '1261': 'Europa',
 '1263': 'Mars',
 '1264': 'Earth',
 '1267': 'Earth',
 '1269': 'Mars',
 '1271': 'Earth',
 '1273': 'Earth',
 '1274': 'Earth',
 '1278': 'Earth',
 '1279': 'Europa',
 '1280': 'Earth',
 '1281': 'Earth',
 '1282': 'Earth',
 '1283': 'Earth',
 '1284': 'Mars',
 '1285': 'Earth',
 '1286': 'Mars',
 '1287': 'Mars',
 '1288': 'Earth',
 '1289': 'Earth',
 '1291': 'Mars',
 '1292': 'Europa',
 '1293': 'Earth',
 '1294': 'Europa',
 '1295': 'Earth',
 '1299': 'Earth',
 '1300': 'Earth',
 '1302': 'Mars',
 '1304': 'Earth',
 '1306': 'Europa',
 '1307': 'Earth',
 '1308': 'Europa',
 '1309': 'Earth',
 '1310': 'Europa',
 '1311': 'Mars',
 '1312': 'Earth',
 '1316': 'Europa',
 '1317': 'Mars',
 '1322': 'Earth',
 '1323': 'Earth',
 '1324': 'Earth',
 '1325': 'Earth',
 '1326': 'Mars',
 '1328': 'Earth',
 '1330': 'Mars',
 '1331': 'Earth',
 '1332': 'Earth',
 '1333': 'Earth',
 '1335': 'Earth',
 '1336': 'Earth',
 '1337': 'Earth',
 '1340': 'Earth',
 '1342': 'Earth',
 '1345': 'Earth',
 '1348': 'Europa',
 '1350': 'Earth',
 '1351': 'Earth',
 '1352': 'Mars',
 '1353': 'Mars',
 '1355': 'Earth',
 '1356': 'Earth',
 '1357': 'Mars',
 '1360': 'Earth',
 '1362': 'Earth',
 '1365': 'Europa',
 '1366': 'Earth',
 '1368': 'Earth',
 '1370': 'Earth',
 '1371': 'Mars',
 '1375': 'Earth',
 '1376': 'Earth',
 '1377': 'Europa',
 '1378': 'Earth',
 '1379': 'Earth',
 '1380': 'Europa',
 '1381': 'Earth',
 '1382': 'Earth',
 '1383': 'Europa',
 '1384': 'Earth',
 '1386': 'Earth',
 '1387': 'Mars',
 '1389': 'Earth',
 '1390': 'Earth',
 '1391': 'Mars',
 '1393': 'Mars',
 '1395': 'Earth',
 '1397': 'Earth',
 '1398': 'Earth',
 '1399': 'Earth',
 '1400': 'Earth',
 '1401': 'Earth',
 '1402': 'Earth',
 '1403': 'Earth',
 '1404': 'Europa',
 '1406': 'Mars',
 '1407': 'Earth',
 '1408': 'Earth',
 '1410': 'Earth',
 '1412': 'Earth',
 '1413': 'Earth',
 '1414': 'Earth',
 '1415': 'Europa',
 '1416': 'Earth',
 '1417': 'Europa',
 '1419': 'Mars',
 '1420': 'Mars',
 '1421': 'Mars',
 '1423': 'Europa',
 '1424': 'Europa',
 '1425': 'Earth',
 '1426': 'Europa',
 '1427': 'Mars',
 '1428': 'Earth',
 '1430': 'Earth',
 '1431': 'Earth',
 '1433': 'Earth',
 '1434': 'Earth',
 '1435': 'Earth',
 '1438': 'Earth',
 '1439': 'Mars',
 '1440': 'Earth',
 '1442': 'Earth',
 '1443': 'Earth',
 '1444': 'Europa',
 '1445': 'Earth',
 '1447': 'Earth',
 '1450': 'Europa',
 '1451': 'Europa',
 '1452': 'Europa',
 '1453': 'Earth',
 '1454': 'Europa',
 '1455': 'Europa',
 '1457': 'Earth',
 '1460': 'Earth',
 '1461': 'Earth',
 '1462': 'Earth',
 '1463': 'Earth',
 '1465': 'Earth',
 '1474': 'Mars',
 '1478': 'Earth',
 '1479': 'Mars',
 '1481': 'Mars',
 '1484': 'Earth',
 '1485': 'Mars',
 '1488': 'Mars',
 '1489': 'Earth',
 '1490': 'Europa',
 '1491': 'Earth',
 '1493': 'Earth',
 '1498': 'Earth',
 '1499': 'Earth',
 '1500': 'Earth',
 '1501': 'Earth',
 '1503': 'Mars',
 '1506': 'Earth',
 '1507': 'Earth',
 '1509': 'Mars',
 '1510': 'Mars',
 '1511': 'Europa',
 '1515': 'Earth',
 '1520': 'Earth',
 '1521': 'Mars',
 '1523': 'Europa',
 '1524': 'Earth',
 '1525': 'Mars',
 '1526': 'Earth',
 '1527': 'Europa',
 '1528': 'Mars',
 '1529': 'Europa',
 '1531': 'Earth',
 ...}

In [121]:
data['passenger'].isnull().sum()

0

In [122]:
data['HomePlanet'].isnull().sum()

201

In [123]:
data['HomePlanet'].fillna(data['passenger'].map(home_dict),inplace=True)

In [124]:
data['HomePlanet'].isnull().sum()

111

In [125]:
data['HomePlanet'].isnull().sum()

111

In [126]:
data['Name2']=data.Name.str.split(' ').str[-1]
data['Name2']

0         Ofracculy
1             Vines
2            Susent
3            Susent
4       Santantines
           ...
8688      Noxnuther
8689      Mondalley
8690         Connon
8691      Hontichre
8692      Hontichre
Name: Name2, Length: 8693, dtype: object

In [127]:
name_dict={}
for i, j in zip(data['Name2'],home_passenger['HomePlanet']):
    name_dict[i]=j

In [128]:
name_dict

{'Ofracculy': 'Europa',
 'Vines': 'Mars',
 'Susent': 'Earth',
 'Santantines': 'Earth',
 'Hinetthews': 'Earth',
 'Jacostaffey': 'Earth',
 'Beston': 'Mars',
 'Flatic': 'Earth',
 'Barne': 'Mars',
 'Baketton': 'Earth',
 'Bertsontry': 'Europa',
 'Pooles': 'Earth',
 'Eccle': 'Earth',
 'Hughriend': 'Europa',
 'Upead': 'Mars',
 'Brighttt': 'Earth',
 'Brantuarez': 'Earth',
 'Mcfaddennon': 'Earth',
 'Jacostanley': 'Europa',
 nan: 'Europa',
 'Fullided': 'Earth',
 'Brookenson': 'Earth',
 'Unconary': 'Earth',
 'Mare': 'Earth',
 'Morsentley': 'Mars',
 'Datie': 'Mars',
 'Oingwhedly': 'Earth',
 'Butte': 'Europa',
 'Leodger': 'Earth',
 'Wheelez': 'Earth',
 'Batthewitt': 'Earth',
 'Moodsey': 'Earth',
 'Cylistrand': 'Earth',
 'Coopelandez': 'Earth',
 'Chmad': 'Earth',
 'Lancis': 'Earth',
 'Johnshines': 'Earth',
 'Hubbarton': 'Earth',
 'Hickerson': 'Mars',
 'Tractive': 'Europa',
 'Ayalazquez': 'Earth',
 'Salez': 'Earth',
 'Greeves': 'Mars',
 'Keen': 'Mars',
 'Pecketton': 'Earth',
 'Leeves': 'Earth',
 'Binie': 'Europa',
 'Dillines': 'Earth',
 'Make': 'Mars',
 'Mostedry': 'Earth',
 'Dal': 'Earth',
 'Blité': 'Europa',
 'Pokerheed': 'Earth',
 'Vinozarks': 'Mars',
 'Datte': 'Earth',
 'Coopezmaney': 'Earth',
 'Ellcefulve': 'Europa',
 'Kinson': 'Earth',
 'Sacre': 'Europa',
 'Santry': 'Europa',
 'Yorkland': 'Earth',
 'Dunnisey': 'Mars',
 'Hewson': 'Earth',
 'Fictful': 'Europa',
 'Carezquez': 'Mars',
 'Leetersoney': 'Mars',
 'Connelson': 'Mars',
 'Trad': 'Europa',
 'Holson': 'Earth',
 'Mclainez': 'Mars',
 'Cleachrand': 'Earth',
 'Hart': 'Earth',
 'Handertiz': 'Earth',
 'Aloubtled': 'Earth',
 'Bootious': 'Mars',
 'Supred': 'Earth',
 'Cowtale': 'Earth',
 'Carvis': 'Earth',
 'Beckerson': 'Earth',
 'Pead': 'Earth',
 'Suptive': 'Earth',
 'Coning': 'Earth',
 'Hayder': 'Earth',
 'Fielson': 'Earth',
 'Mish': 'Earth',
 'Mesty': 'Earth',
 'Fles': 'Earth',
 'Fowles': 'Mars',
 'Blie': 'Mars',
 'Harmontry': 'Mars',
 'Gambs': 'Earth',
 'Myling': 'Earth',
 'Mejiaddox': 'Europa',
 'Whitakers': 'Europa',
 'Harte': 'Europa',
 'Dayers': 'Mars',
 'Wolferguson': 'Mars',
 'Hubbarrison': 'Earth',
 'Pashe': 'Mars',
 'Simson': 'Earth',
 'Estron': 'Mars',
 'Atkinney': 'Earth',
 'Hetforhaft': 'Earth',
 'Hutchinton': 'Europa',
 'Anche': 'Earth',
 'Floaf': 'Mars',
 'Fisherry': 'Mars',
 'Mcmahoney': 'Europa',
 'Gordanieves': 'Europa',
 'Grifford': 'Europa',
 'Lambles': 'Mars',
 'Iniouser': 'Earth',
 'Knik': 'Earth',
 'Webstephrey': 'Earth',
 'Disight': 'Europa',
 'Weaves': 'Europa',
 'Shephendry': 'Earth',
 'Romez': 'Earth',
 'Booters': 'Earth',
 'Adavisons': 'Mars',
 'Raf': 'Earth',
 'Emead': 'Earth',
 'Dissper': 'Mars',
 'Cookson': 'Earth',
 'Morrows': 'Mars',
 'Colomonson': 'Earth',
 'Bacistion': 'Earth',
 'Embleng': 'Earth',
 'Heateele': 'Europa',
 'Oneiles': 'Earth',
 'Brugashed': 'Europa',
 'Inicont': 'Earth',
 'Appie': 'Europa',
 'Date': 'Europa',
 'Workmans': 'Europa',
 'Navages': 'Earth',
 'Garnes': 'Earth',
 'Shieldson': 'Mars',
 'River': 'Earth',
 'Wilsoney': 'Mars',
 'Blan': 'Earth',
 'Reke': 'Earth',
 'Perte': 'Earth',
 'Deva': 'Mars',
 'Sykess': 'Mars',
 'Queen': 'Earth',
 'Hortis': 'Earth',
 'Sellahaney': 'Earth',
 'Nate': 'Earth',
 'Bakerrison': 'Earth',
 'Wist': 'Earth',
 'Josey': 'Earth',
 'Aginge': 'Mars',
 'Resty': 'Earth',
 'Crie': 'Europa',
 'Dischod': 'Mars',
 'Sté': 'Europa',
 'Cartyernan': 'Earth',
 'Sad': 'Mars',
 'Repumparte': 'Earth',
 'Sesa': 'Mars',
 'Spanxibus': 'Mars',
 'Kramosley': 'Earth',
 'Amsive': 'Earth',
 'Byerry': 'Earth',
 'Cardner': 'Earth',
 'Stenson': 'Earth',
 'Mingious': 'Earth',
 'Berte': 'Europa',
 'Cooperkins': 'Mars',
 'Inderly': 'Earth',
 'Bookerson': 'Earth',
 'Merkins': 'Earth',
 'Herpumble': 'Earth',
 'Sancockett': 'Earth',
 'Polliamposs': 'Mars',
 'Fryersonis': 'Mars',
 'Obnoble': 'Earth',
 'Mcdanield': 'Earth',
 'Beachez': 'Earth',
 'Pierry': 'Europa',
 'Santin': 'Europa',
 'Invebodene': 'Mars',
 'Jimes': 'Europa',
 'Bootty': 'Mars',
 'Delez': 'Earth',
 'Objeciane': 'Earth',
 'Excialing': 'Mars',
 'Brakeril': 'Earth',
 'Roforhauge': 'Europa',
 'Gardonadox': 'Earth',
 'Sorbitter': 'Mars',
 'Wriggins': 'Europa',
 'Kirklander': 'Mars',
 'Ausivetpul': 'Mars',
 'Geousker': 'Mars',
 'Estevesters': 'Europa',
 'Hickett': 'Earth',
 'Bowerson': 'Earth',
 'Coudered': 'Earth',
 'Mckinsond': 'Europa',
 'Kochroeders': 'Earth',
 'Valezaley': 'Europa',
 'Bellarkerd': 'Mars',
 'Bache': 'Earth',
 'Blange': 'Europa',
 'Hooperez': 'Europa',
 'Edwartizman': 'Europa',
 'Ocherman': 'Europa',
 'Siveduced': 'Earth',
 'Burchard': 'Earth',
 'Melie': 'Mars',
 'Mushe': 'Earth',
 'Perle': 'Earth',
 'Guerson': 'Mars',
 'Poille': 'Europa',
 'Racke': 'Mars',
 'Chanan': 'Earth',
 'Kraie': 'Earth',
 'Mane': 'Europa',
 'Burchanez': 'Europa',
 'Strad': 'Europa',
 'Warrison': 'Earth',
 'Gloyanthy': 'Mars',
 'Mcleaney': 'Europa',
 'Connon': 'Europa',
 'Popez': 'Mars',
 'Staffersby': 'Earth',
 'Headardyer': 'Mars',
 'Jacostaney': 'Europa',
 'Pottonalden': 'Earth',
 'Coffmaney': 'Earth',
 'Dutte': 'Earth',
 'Mcneiderson': 'Earth',
 'Vincenton': 'Europa',
 'Spentley': 'Earth',
 'Pirejus': 'Earth',
 'Moodson': 'Europa',
 'Fuelddid': 'Earth',
 'Mosteraked': 'Earth',
 'Floydendley': 'Earth',
 'Wagnerray': 'Earth',
 'Simpsonks': 'Earth',
 'Klinson': 'Earth',
 'Merce': 'Earth',
 'Sullones': 'Europa',
 'Savaraldez': 'Europa',
 'Cowsearney': 'Mars',
 'Carreralend': 'Mars',
 'Hervel': 'Europa',
 'Robins': 'Europa',
 'Mepie': 'Europa',
 'Tité': 'Earth',
 'Pimne': 'Earth',
 'Sageng': 'Earth',
 'Wate': 'Earth',
 'Flowensley': 'Europa',
 'Mirez': 'Mars',
 'Ble': 'Europa',
 'Iccle': 'Earth',
 'Roachoanand': 'Europa',
 'Rushorney': 'Mars',
 'Quelfly': 'Earth',
 'Steinardson': 'Earth',
 'Poicaptic': 'Earth',
 'Unhearfus': 'Earth',
 'Pumbody': 'Earth',
 'Fiha': 'Europa',
 'Efulows': 'Mars',
 'Chocaters': 'Earth',
 'Ineysive': 'Earth',
 'Jorden': 'Earth',
 'Melto': 'Earth',
 'Knike': 'Earth',
 'Mormonized': 'Earth',
 'Pread': 'Mars',
 'Willynnedy': 'Europa',
 'Hodes': 'Earth',
 'Diateous': 'Earth',
 'Unciate': 'Europa',
 'Hahnstonsen': 'Europa',
 'Armstromez': 'Mars',
 'Curte': 'Earth',
 'Marshopper': 'Earth',
 'Singmage': 'Europa',
 'Mcclayton': 'Europa',
 'Hoppernardy': 'Earth',
 'Moongton': 'Earth',
 'Ecart': 'Europa',
 'Taptiritty': 'Mars',
 'Geoconne': 'Mars',
 'Fushausive': 'Earth',
 'Poperez': 'Mars',
 'Bedectical': 'Europa',
 'Nichoan': 'Earth',
 'Jenningley': 'Earth',
 'Sosanturney': 'Earth',
 'Staf': 'Mars',
 'Chaellerty': 'Earth',
 'Wynneyerson': 'Earth',
 'Fuelisent': 'Europa',
 'Solinez': 'Earth',
 'Chardst': 'Earth',
 'Gilesonston': 'Mars',
 'Chiff': 'Earth',
 'Peckerson': 'Earth',
 'Mallerez': 'Mars',
 'Unloweedic': 'Europa',
 'Obeaded': 'Earth',
 'Vantonson': 'Earth',
 'Preent': 'Mars',
 'Meake': 'Mars',
 'Cakie': 'Europa',
 'Spedlybood': 'Europa',
 'Swell': 'Earth',
 'Fone': 'Europa',
 'Unpasine': 'Europa',
 'Backe': 'Europa',
 'Mccarry': 'Europa',
 'Sinecthex': 'Earth',
 'Nateansive': 'Europa',
 'Blandez': 'Earth',
 'Swinvul': 'Mars',
 'Eneurordry': 'Earth',
 'Kimons': 'Earth',
 'Parta': 'Mars',
 'Farleyatton': 'Earth',
 'Mcguirez': 'Earth',
 'Hornettoney': 'Earth',
 'Parklaney': 'Mars',
 'Joyneidez': 'Mars',
 'Mirezavis': 'Earth',
 'Stité': 'Earth',
 'Stiven': 'Earth',
 'Alentonway': 'Earth',
 'Stike': 'Earth',
 'Parbage': 'Earth',
 'Swanardy': 'Mars',
 'Nalanet': 'Europa',
 'Conie': 'Earth',
 'Ments': 'Europa',
 'Sextones': 'Earth',
 'Weavesend': 'Europa',
 'Webstes': 'Earth',
 'Watte': 'Earth',
 'Cleminglas': 'Earth',
 'Bradlerson': 'Earth',
 'Brathful': 'Earth',
 'Valindle': 'Earth',
 'Graciansus': 'Europa',
 'Rames': 'Earth',
 'Harmond': 'Earth',
 'Hortez': 'Mars',
 'Flemaney': 'Europa',
 'Petie': 'Earth',
 'Dinsprody': 'Mars',
 'Munozanson': 'Earth',
 'Baciffhaut': 'Mars',
 'Tramsor': 'Earth',
 'Ousious': 'Earth',
 'Hednigic': 'Earth',
 'Lamberguson': 'Earth',
 'Dickley': 'Earth',
 'Herry': 'Earth',
 'Trankliney': 'Europa',
 'Woodgezalez': 'Europa',
 'Chort': 'Earth',
 'Erle': 'Earth',
 'Oillicaly': 'Mars',
 'Tecre': 'Earth',
 'Delazarson': 'Europa',
 'Hardley': 'Earth',
 'Kra': 'Europa',
 'Flynner': 'Earth',
 'Gene': 'Earth',
 'Buckeelez': 'Earth',
 'Crité': 'Mars',
 'Ormler': 'Earth',
 'Brine': 'Earth',
 'Scheron': 'Earth',
 'Hontichre': 'Mars',
 'Rilley': 'Earth',
 'Sacle': 'Mars',
 'Potters': 'Earth',
 'Ranaly': 'Europa',
 'Carterson': 'Europa',
 'Pollarkeeks': 'Mars',
 'Holatirint': 'Europa',
 'Gaington': 'Earth',
 'Gainebergan': 'Earth',
 'Portananney': 'Mars',
 'Anpie': 'Mars',
 'She': 'Europa',
 'Gread': 'Europa',
 'Wolfaddox': 'Mars',
 'Powery': 'Earth',
 'Pamca': 'Earth',
 'Wooterston': 'Earth',
 'Yanton': 'Earth',
 'Kiling': 'Earth',
 'Watie': 'Earth',
 'Prucerod': 'Earth',
 'Grahangory': 'Earth',
 'Trattle': 'Mars',
 'Deeke': 'Earth',
 'Hammonton': 'Europa',
 'Paska': 'Europa',
 'Cure': 'Mars',
 'Gordond': 'Earth',
 'Jarvey': 'Mars',
 'Andackson': 'Earth',
 'Saley': 'Mars',
 'Ticagent': 'Mars',
 'Buckentry': 'Earth',
 'Winie': 'Mars',
 'Torrez': 'Mars',
 'Hardson': 'Europa',
 'Dillips': 'Mars',
 'Moodman': 'Europa',
 'Camerrison': 'Europa',
 'Cla': 'Earth',
 'Parté': 'Earth',
 'Lerez': 'Earth',
 'Bert': 'Europa',
 'Concy': 'Europa',
 'Erpie': 'Earth',
 'Motive': 'Europa',
 'Start': 'Mars',
 'Potte': 'Earth',
 'Dedometeel': 'Earth',
 'Haydenzier': 'Earth',
 'Buchansen': 'Mars',
 'Sha': 'Earth',
 'Rhuba': 'Earth',
 'Voliat': 'Earth',
 'Estein': 'Earth',
 'Wartyson': 'Mars',
 'Mccarveymon': 'Mars',
 'Missefle': 'Earth',
 'Coflé': 'Earth',
 'Apeau': 'Mars',
 'Stantiagord': 'Earth',
 'Mondsey': 'Europa',
 'Reate': 'Earth',
 'Bensley': 'Mars',
 'Fitzgerson': 'Earth',
 'Potthews': 'Mars',
 'Currisones': 'Earth',
 'Lewinton': 'Europa',
 'Bairdford': 'Mars',
 'Hamberterry': 'Earth',
 'Ewiseston': 'Earth',
 'Mcbritts': 'Earth',
 'Inghtal': 'Earth',
 'Waltonnedy': 'Europa',
 'Ennalve': 'Earth',
 'Fusimodent': 'Mars',
 'Ainserfle': 'Earth',
 'Geraing': 'Earth',
 'Traie': 'Earth',
 'Fliblerolt': 'Europa',
 'Toddleton': 'Europa',
 'Burle': 'Earth',
 'Meltonway': 'Earth',
 'Oilloody': 'Europa',
 'Reeddommy': 'Earth',
 'Mclardson': 'Earth',
 'Steeletters': 'Europa',
 'Plegred': 'Earth',
 'Roycentes': 'Europa',
 'Plattering': 'Earth',
 'Rodger': 'Earth',
 'Valexandez': 'Earth',
 'Walé': 'Earth',
 'Aiming': 'Mars',
 'Hartz': 'Europa',
 'Quinnerry': 'Earth',
 'Imprank': 'Earth',
 'Frolestty': 'Earth',
 'Pottmanley': 'Europa',
 'Mcfarmerson': 'Europa',
 'Powenoble': 'Earth',
 'Klindsey': 'Earth',
 'Unfile': 'Earth',
 'Noelan': 'Earth',
 'Gelle': 'Earth',
 'Presstic': 'Earth',
 'Chuble': 'Earth',
 'Nieldson': 'Europa',
 'Ramoran': 'Mars',
 'Nutte': 'Europa',
 'Katte': 'Earth',
 'Meyersones': 'Earth',
 'Asoppor': 'Mars',
 'Baxters': 'Mars',
 'Couseced': 'Earth',
 'Gainney': 'Earth',
 'Strongers': 'Earth',
 'Sweeton': 'Earth',
 'Carrishley': 'Earth',
 'Chpie': 'Europa',
 'Wardendez': 'Europa',
 'Hoopez': 'Earth',
 'Carverson': 'Earth',
 'Hinesh': 'Earth',
 'Pacerty': 'Earth',
 'Frazie': 'Earth',
 'Braymon': 'Earth',
 'Fueling': 'Earth',
 'Simstravery': 'Earth',
 'Raca': 'Europa',
 'Oidederval': 'Earth',
 'Nan': 'Earth',
 'Sarios': 'Earth',
 'Ageurante': 'Mars',
 'Walkerez': 'Earth',
 'Sandul': 'Europa',
 'Stephendsey': 'Earth',
 'Peckers': 'Mars',
 'Sweene': 'Earth',
 'Maynardner': 'Europa',
 'Geneltic': 'Europa',
 'Franton': 'Earth',
 'Briggston': 'Europa',
 'Covetive': 'Mars',
 'Bancy': 'Earth',
 'Lanks': 'Earth',
 'Reedall': 'Earth',
 'Malliamsey': 'Earth',
 'Pittson': 'Europa',
 'Polksy': 'Earth',
 'Barris': 'Earth',
 'Alldson': 'Earth',
 'Warrishales': 'Europa',
 'Porki': 'Earth',
 'Alcemblery': 'Earth',
 'Kin': 'Mars',
 'Cassiding': 'Earth',
 'Burryerson': 'Earth',
 'Blate': 'Earth',
 'Parymider': 'Europa',
 'Fuenterson': 'Earth',
 'Vinston': 'Europa',
 'Obedaming': 'Earth',
 'Stiviorad': 'Earth',
 'Asticit': 'Mars',
 'Avisnydes': 'Europa',
 'Ryanglasey': 'Europa',
 'Sweett': 'Earth',
 'Flynnis': 'Earth',
 'Pette': 'Mars',
 'Fawnsive': 'Mars',
 'Rocknight': 'Mars',
 'Peter': 'Europa',
 'Byerton': 'Earth',
 'Vloaf': 'Earth',
 'Weaverays': 'Earth',
 'Emenez': 'Mars',
 'Frandriquez': 'Mars',
 'Johnsby': 'Europa',
 'Lunapperts': 'Mars',
 'Colle': 'Earth',
 'Smalloney': 'Earth',
 'Bartez': 'Mars',
 'Hapie': 'Europa',
 'Youngrayes': 'Europa',
 'Lewinez': 'Earth',
 'Platch': 'Earth',
 'Depie': 'Earth',
 'Fulloydez': 'Mars',
 'Figuez': 'Earth',
 'Emone': 'Earth',
 'Blace': 'Earth',
 'Humphreyes': 'Europa',
 'Coxterez': 'Earth',
 'Wiggs': 'Earth',
 'Woodwin': 'Mars',
 'Sweekstarks': 'Earth',
 'Reyerson': 'Earth',
 'Norrison': 'Earth',
 'Moranthons': 'Earth',
 'Cochrisons': 'Earth',
 'Acobsond': 'Earth',
 'Miltongson': 'Mars',
 'Barmant': 'Earth',
 'Shpie': 'Europa',
 'Suptibler': 'Europa',
 'Llonovancis': 'Earth',
 'Leste': 'Mars',
 'Wassird': 'Earth',
 'Juartis': 'Earth',
 'Summington': 'Europa',
 'Spistory': 'Europa',
 'Prinson': 'Mars',
 'Frasp': 'Earth',
 'Antoshipson': 'Earth',
 'Blanglison': 'Earth',
 'Wilderssen': 'Mars',
 'Wala': 'Earth',
 'Chavezalez': 'Earth',
 'Nichaner': 'Mars',
 'Harverez': 'Earth',
 'Leonzaley': 'Europa',
 'Garzaley': 'Earth',
 'Gonzaley': 'Mars',
 'Cleman': 'Earth',
 'Bra': 'Earth',
 'Georgasey': 'Earth',
 'Knoxonway': 'Earth',
 'Heedry': 'Earth',
 'Talls': 'Earth',
 'Unteckery': 'Earth',
 'Mcdon': 'Mars',
 'Prie': 'Earth',
 'Gallard': 'Earth',
 'Colleruces': 'Earth',
 'Braned': 'Earth',
 'Ingston': 'Earth',
 'Clayson': 'Mars',
 'Wolffy': 'Mars',
 'Ingwhed': 'Earth',
 'Jaf': 'Europa',
 'Pughanders': 'Earth',
 'Dingauge': 'Earth',
 'Bardinard': 'Europa',
 'Ewins': 'Earth',
 'Traverdy': 'Europa',
 'Parte': 'Europa',
 'Sfin': 'Earth',
 'Holcompson': 'Mars',
 'Carpennels': 'Earth',
 'Willangsey': 'Earth',
 'Pottney': 'Earth',
 'Pronfraked': 'Mars',
 'Miste': 'Mars',
 'Webstenson': 'Earth',
 'Drelcate': 'Mars',
 'Weeke': 'Earth',
 'Mcneiley': 'Earth',
 'Cuche': 'Earth',
 'Frité': 'Earth',
 'Dan': 'Europa',
 'Seen': 'Earth',
 'Opshaft': 'Earth',
 'Fielsenders': 'Earth',
 'Kidne': 'Earth',
 'Oneidson': 'Earth',
 'Barnolaney': 'Earth',
 'Burnerez': 'Europa',
 'Praded': 'Mars',
 'Dishocatal': 'Europa',
 'Bellyonsley': 'Mars',
 'Cako': 'Europa',
 'Benney': 'Mars',
 'Lake': 'Earth',
 'Sobvisted': 'Europa',
 'Bowenasey': 'Europa',
 'Sofraten': 'Mars',
 'Pugherman': 'Earth',
 'Barnolderg': 'Earth',
 'Roses': 'Earth',
 'Semageary': 'Mars',
 'Clugete': 'Europa',
 'Logannon': 'Europa',
 'Quinnerettt': 'Earth',
 'Vaught': 'Earth',
 'Brookes': 'Mars',
 'Corman': 'Earth',
 'Ingascomet': 'Earth',
 'Hessey': 'Europa',
 'Motter': 'Europa',
 'Anderking': 'Earth',
 'Radisiouss': 'Earth',
 'Heermy': 'Europa',
 'Waring': 'Earth',
 'Shoeweely': 'Mars',
 'Terry': 'Earth',
 'Sin': 'Europa',
 'Gallandez': 'Earth',
 'Lessonerry': 'Europa',
 'Brin': 'Earth',
 'Wasterivel': 'Earth',
 'Irwines': 'Earth',
 'Pota': 'Mars',
 'Nutty': 'Earth',
 'Browlerson': 'Earth',
 'Matts': 'Earth',
 'Sorticbar': 'Earth',
 'Folhal': 'Earth',
 'Tie': 'Earth',
 'Hubbarnett': 'Earth',
 'Unrent': 'Mars',
 'Blainson': 'Europa',
 'Brooker': 'Europa',
 'Alvasquez': 'Europa',
 'Vales': 'Earth',
 'Huntt': 'Earth',
 'Pentss': 'Earth',
 'Gilleranks': 'Earth',
 'Fanchy': 'Europa',
 'Alfordonard': 'Mars',
 'Hubert': 'Earth',
 'Coweboded': 'Earth',
 'Morrodgers': 'Mars',
 'Purle': 'Earth',
 'Scottuez': 'Earth',
 'Lancock': 'Earth',
 'Bookson': 'Europa',
 'Clugeadry': 'Europa',
 'Drivery': 'Earth',
 'Oderient': 'Mars',
 'Schmondez': 'Earth',
 'Breke': 'Earth',
 'Scotterkins': 'Europa',
 'Healted': 'Earth',
 'Roberrenn': 'Earth',
 'Pane': 'Mars',
 'Cruzaley': 'Europa',
 'Howayery': 'Europa',
 'Dynigic': 'Earth',
 'Leton': 'Europa',
 'Tranciams': 'Earth',
 'Knité': 'Europa',
 'Fache': 'Earth',
 'Fultz': 'Earth',
 'Ponie': 'Earth',
 'Conale': 'Mars',
 'Gulcepusy': 'Earth',
 'Erry': 'Earth',
 'Quinnedy': 'Earth',
 'Irintious': 'Mars',
 'Coillery': 'Earth',
 'Masquez': 'Earth',
 'Gamberson': 'Europa',
 'Gilleyons': 'Earth',
 'Barbes': 'Mars',
 'Gelte': 'Earth',
 'Rigginsen': 'Europa',
 'Datty': 'Earth',
 'Alshipson': 'Earth',
 'Hurchez': 'Mars',
 'Fryes': 'Earth',
 'Shermann': 'Earth',
 'Harrenoldez': 'Earth',
 'Mayder': 'Europa',
 'Horners': 'Earth',
 'Balightal': 'Mars',
 'Cleang': 'Earth',
 'Gerry': 'Earth',
 'Tepie': 'Earth',
 'Paynard': 'Earth',
 'Rothewson': 'Earth',
 'Stre': 'Earth',
 'Exnutch': 'Europa',
 'Hestes': 'Earth',
 'Waterson': 'Mars',
 'Kuche': 'Earth',
 'Coniple': 'Europa',
 'Caineson': 'Earth',
 'Mcgowaymond': 'Earth',
 'Fuleng': 'Mars',
 'Daughttley': 'Earth',
 'Resendent': 'Earth',
 'Mayods': 'Earth',
 'Foxter': 'Earth',
 'Hacle': 'Earth',
 'Lowelliott': 'Earth',
 'Meltoney': 'Earth',
 'Apie': 'Earth',
 'Kake': 'Earth',
 'Cookentaney': 'Europa',
 'Popelase': 'Earth',
 'Burtiz': 'Earth',
 'Blacks': 'Earth',
 'Mornaned': 'Earth',
 'Gres': 'Earth',
 'Winsley': 'Europa',
 'Higast': 'Earth',
 'Macdonadows': 'Mars',
 'Spedlinale': 'Europa',
 'Shbre': 'Earth',
 'Cres': 'Mars',
 'Rodwative': 'Earth',
 'Hanghanson': 'Earth',
 'Noeley': 'Earth',
 'Cartez': 'Earth',
 'Sancasey': 'Earth',
 'Lette': 'Mars',
 'Coarswing': 'Mars',
 'Wellenez': 'Earth',
 'Ailled': 'Earth',
 'Proorbeng': 'Earth',
 'Distured': 'Europa',
 'Thorney': 'Earth',
 'Righturter': 'Earth',
 'Conaly': 'Earth',
 'Combson': 'Earth',
 'Williotters': 'Earth',
 'Melte': 'Europa',
 'Prist': 'Earth',
 'Man': 'Mars',
 'Betie': 'Earth',
 'Gallencis': 'Europa',
 'Crioncery': 'Earth',
 'Sosalinson': 'Earth',
 'Keithunts': 'Earth',
 'Fryan': 'Mars',
 'Haste': 'Mars',
 'Jeffey': 'Earth',
 'Swin': 'Europa',
 'Spandisket': 'Earth',
 'Whealeed': 'Europa',
 'Oconley': 'Earth',
 'Flité': 'Mars',
 'Shawforden': 'Earth',
 'Gin': 'Earth',
 'Sotond': 'Earth',
 'Boderbint': 'Earth',
 'Madan': 'Earth',
 'Slable': 'Mars',
 'Puckley': 'Earth',
 'Bealvewd': 'Earth',
 'Nuthe': 'Europa',
 'Clumshangs': 'Earth',
 'Woody': 'Earth',
 'Seche': 'Mars',
 'Clidly': 'Earth',
 'Hoppers': 'Earth',
 'Unicting': 'Earth',
 'Stivelte': 'Earth',
 'Supiensive': 'Mars',
 'Batestonley': 'Earth',
 'Mcdowns': 'Earth',
 'Guezaley': 'Earth',
 'Briggins': 'Earth',
 'Simmonders': 'Earth',
 'Merie': 'Mars',
 'Replic': 'Europa',
 'Burchrison': 'Europa',
 'Hac': 'Earth',
 'Pager': 'Earth',
 'Garrincent': 'Earth',
 'Che': 'Mars',
 'Thony': 'Earth',
 'Crosarios': 'Earth',
 'Fullous': 'Europa',
 'Crakenecal': 'Earth',
 'Idivent': 'Europa',
 'Reming': 'Mars',
 'Replipent': 'Mars',
 'Mulley': 'Earth',
 'Chardsons': 'Earth',
 'Rostarks': 'Mars',
 'Dicksons': 'Europa',
 'Entenedy': 'Europa',
 'Lopelases': 'Earth',
 'Harperez': 'Earth',
 'Hinglendez': 'Earth',
 'Dukertyler': 'Europa',
 'Sau': 'Mars',
 'Patimonne': 'Mars',
 'Foraud': 'Mars',
 'Cofferson': 'Earth',
 'Kennetty': 'Earth',
 'Fatted': 'Mars',
 'Conleydenan': 'Earth',
 'Tuckers': 'Earth',
 'Ricews': 'Earth',
 'Ballocks': 'Earth',
 'Thonyderson': 'Earth',
 'Monroellynn': 'Mars',
 'Fisheparks': 'Mars',
 'Wonglasquez': 'Mars',
 'Lynnerett': 'Europa',
 'Alest': 'Europa',
 'Part': 'Europa',
 'Fringh': 'Earth',
 'Earmeter': 'Earth',
 'Sterson': 'Europa',
 'Villenson': 'Earth',
 'Retefule': 'Earth',
 'Watsongley': 'Earth',
 'Spane': 'Earth',
 'Solivers': 'Earth',
 'Perrerojass': 'Earth',
 'Englence': 'Earth',
 'Dillestron': 'Mars',
 'Batte': 'Earth',
 'Paulllegory': 'Earth',
 'Giba': 'Earth',
 'Moraleney': 'Earth',
 'Iderinelay': 'Earth',
 'Barkeretton': 'Earth',
 'Fincy': 'Earth',
 'Chake': 'Earth',
 'Hopez': 'Earth',
 'Minen': 'Europa',
 'Dyers': 'Earth',
 'Parsoney': 'Mars',
 'Mirandry': 'Mars',
 'Franankson': 'Earth',
 'Reyervaney': 'Mars',
 'Barte': 'Mars',
 'Bakerson': 'Europa',
 'Curton': 'Earth',
 'Patrichane': 'Earth',
 'Blancoy': 'Europa',
 'Sawyerson': 'Earth',
 'Coley': 'Earth',
 'Bradamss': 'Earth',
 'Cardsay': 'Earth',
 'Casez': 'Europa',
 'Stering': 'Mars',
 'Laai': 'Earth',
 'Gleroling': 'Mars',
 'Stewder': 'Earth',
 'Beckeey': 'Earth',
 'Sinda': 'Earth',
 'Wincer': 'Europa',
 'Butty': 'Earth',
 'Canie': 'Earth',
 'Adkinson': 'Earth',
 'Hermanapp': 'Earth',
 'Brailidy': 'Earth',
 'Garnettiz': 'Earth',
 'Kniva': 'Mars',
 'Brazo': 'Europa',
 'Hariourcal': 'Mars',
 'Blanspe': 'Europa',
 'Mcfarley': 'Mars',
 'Leonaldez': 'Mars',
 'Goffey': 'Earth',
 'Curle': 'Mars',
 'Hotte': 'Europa',
 'Ingetrody': 'Earth',

In [129]:
data['HomePlanet'].isnull().sum()

111

In [130]:
 5

5

In [131]:
data['HomePlanet'].isnull().sum()

111

In [132]:
data['HomePlanet'].value_counts(dropna=False)

Earth     4634
Europa    2161
Mars      1787
NaN        111
Name: HomePlanet, dtype: int64

In [133]:
data['HomePlanet'].fillna('Earth',inplace=True)

In [134]:
data['HomePlanet'].isnull().sum()

0

In [135]:
data['VIP'].fillna(False,inplace=True)

In [136]:
data['Fee']=(data['RoomService']+ data['FoodCourt']+ data['ShoppingMall']+ data['Spa']+ data['VRDeck'])

In [137]:
fee_list=['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

In [138]:
for col in fee_list:
    data[col].fillna(data[col].median(),inplace=True)

In [139]:
data['RoomService'].isnull().sum()

0

In [140]:
data['Fee'].isnull().sum()

908

In [141]:
data['Cabin']

0          B/0/P
1          F/0/S
2          A/0/S
3          A/0/S
4          F/1/S
          ...
8688      A/98/P
8689    G/1499/S
8690    G/1500/S
8691     E/608/S
8692     E/608/S
Name: Cabin, Length: 8693, dtype: object

In [142]:
data['deck']=data['Cabin'].str.split('/').str[0]

In [143]:
data['side']=data['Cabin'].str.split('/').str[2]

In [144]:
data.groupby(['HomePlanet','deck']).size().reset_index()

   HomePlanet deck     0
0       Earth    A     1
1       Earth    B     1
2       Earth    C     4
3       Earth    D     4
4       Earth    E   411
5       Earth    F  1664
6       Earth    G  2559
7       Earth    T     1
8      Europa    A   255
9      Europa    B   778
10     Europa    C   743
11     Europa    D   189
12     Europa    E   130
13     Europa    T     4
14       Mars    D   285
15       Mars    E   335
16       Mars    F  1130

In [145]:
data['deck'].fillna(data['HomePlanet'].map({'Earth':'G','Europa':'C','Mars':'F'}),inplace=True)

In [146]:
data['HomePlanet']=data['HomePlanet'].map({'Earth':'G','Europa':'C','Mars':'F'})

In [147]:
data.groupby(['passenger','side']).size().reset_index()

     passenger side  0
0         0001    P  1
1         0002    S  1
2         0003    S  2
3         0004    S  1
4         0005    P  1
...        ...  ... ..
6113      9275    P  3
6114      9276    P  1
6115      9278    S  1
6116      9279    S  1
6117      9280    S  2

[6118 rows x 3 columns]

In [148]:
data['side'].fillna('S',inplace=True)

In [149]:
dest_passenger=data.groupby(['passenger','Destination']).size().reset_index()
dest_passenger

     passenger    Destination  0
0         0001    TRAPPIST-1e  1
1         0002    TRAPPIST-1e  1
2         0003    TRAPPIST-1e  2
3         0004    TRAPPIST-1e  1
4         0005  PSO J318.5-22  1
...        ...            ... ..
6875      9276    55 Cancri e  1
6876      9278  PSO J318.5-22  1
6877      9279    TRAPPIST-1e  1
6878      9280    55 Cancri e  1
6879      9280    TRAPPIST-1e  1

[6880 rows x 3 columns]

In [150]:
dest_passenger['passenger']

0       0001
1       0002
2       0003
3       0004
4       0005
        ...
6875    9276
6876    9278
6877    9279
6878    9280
6879    9280
Name: passenger, Length: 6880, dtype: object

In [151]:
dest_passenger['Destination']

0         TRAPPIST-1e
1         TRAPPIST-1e
2         TRAPPIST-1e
3         TRAPPIST-1e
4       PSO J318.5-22
            ...
6875      55 Cancri e
6876    PSO J318.5-22
6877      TRAPPIST-1e
6878      55 Cancri e
6879      TRAPPIST-1e
Name: Destination, Length: 6880, dtype: object

In [152]:
dest_passenger=dest_passenger[dest_passenger['passenger'].duplicated()]

In [153]:
dest_passenger.sort_values(0,ascending=False)

     passenger  Destination  0
6513      8796  TRAPPIST-1e  7
4384      5885  TRAPPIST-1e  7
3175      4256  TRAPPIST-1e  7
156       0221  TRAPPIST-1e  6
6493      8770  TRAPPIST-1e  6
...        ...          ... ..
2774      3737  TRAPPIST-1e  1
2778      3742  TRAPPIST-1e  1
2786      3749  TRAPPIST-1e  1
2793      3755  TRAPPIST-1e  1
6879      9280  TRAPPIST-1e  1

[766 rows x 3 columns]

In [154]:
dest_passenger.drop_duplicates()

     passenger    Destination  0
8         0008    TRAPPIST-1e  1
17        0017    TRAPPIST-1e  1
19        0020  PSO J318.5-22  1
20        0020    TRAPPIST-1e  3
36        0044  PSO J318.5-22  1
...        ...            ... ..
6836      9219    TRAPPIST-1e  1
6838      9220    TRAPPIST-1e  2
6844      9227    TRAPPIST-1e  3
6847      9231    TRAPPIST-1e  2
6879      9280    TRAPPIST-1e  1

[766 rows x 3 columns]

In [155]:
dest_dict={}
for i,j in zip(dest_passenger['passenger'],dest_passenger['Destination']):
    dest_dict[i]=j

In [156]:
dest_dict

{'0008': 'TRAPPIST-1e',
 '0017': 'TRAPPIST-1e',
 '0020': 'TRAPPIST-1e',
 '0044': 'TRAPPIST-1e',
 '0067': 'TRAPPIST-1e',
 '0099': 'TRAPPIST-1e',
 '0103': 'TRAPPIST-1e',
 '0164': 'TRAPPIST-1e',
 '0220': 'TRAPPIST-1e',
 '0221': 'TRAPPIST-1e',
 '0244': 'TRAPPIST-1e',
 '0245': 'TRAPPIST-1e',
 '0257': 'TRAPPIST-1e',
 '0283': 'TRAPPIST-1e',
 '0285': 'TRAPPIST-1e',
 '0287': 'TRAPPIST-1e',
 '0290': 'TRAPPIST-1e',
 '0313': 'PSO J318.5-22',
 '0337': 'TRAPPIST-1e',
 '0358': 'TRAPPIST-1e',
 '0378': 'TRAPPIST-1e',
 '0383': 'TRAPPIST-1e',
 '0384': 'TRAPPIST-1e',
 '0417': 'TRAPPIST-1e',
 '0433': 'TRAPPIST-1e',
 '0436': 'PSO J318.5-22',
 '0437': 'TRAPPIST-1e',
 '0448': 'TRAPPIST-1e',
 '0453': 'TRAPPIST-1e',
 '0454': 'TRAPPIST-1e',
 '0457': 'TRAPPIST-1e',
 '0461': 'TRAPPIST-1e',
 '0470': 'TRAPPIST-1e',
 '0471': 'TRAPPIST-1e',
 '0476': 'TRAPPIST-1e',
 '0499': 'TRAPPIST-1e',
 '0504': 'TRAPPIST-1e',
 '0512': 'TRAPPIST-1e',
 '0527': 'TRAPPIST-1e',
 '0539': 'TRAPPIST-1e',
 '0549': 'TRAPPIST-1e',
 '0555': 'TRAPPIST-1e',
 '0560': 'TRAPPIST-1e',
 '0564': 'TRAPPIST-1e',
 '0568': 'TRAPPIST-1e',
 '0571': 'TRAPPIST-1e',
 '0594': 'TRAPPIST-1e',
 '0607': 'TRAPPIST-1e',
 '0615': 'TRAPPIST-1e',
 '0618': 'PSO J318.5-22',
 '0619': 'TRAPPIST-1e',
 '0636': 'TRAPPIST-1e',
 '0642': 'TRAPPIST-1e',
 '0680': 'TRAPPIST-1e',
 '0693': 'TRAPPIST-1e',
 '0714': 'TRAPPIST-1e',
 '0740': 'TRAPPIST-1e',
 '0756': 'TRAPPIST-1e',
 '0765': 'TRAPPIST-1e',
 '0768': 'TRAPPIST-1e',
 '0770': 'TRAPPIST-1e',
 '0772': 'TRAPPIST-1e',
 '0811': 'TRAPPIST-1e',
 '0820': 'TRAPPIST-1e',
 '0849': 'TRAPPIST-1e',
 '0885': 'TRAPPIST-1e',
 '0889': 'TRAPPIST-1e',
 '0907': 'TRAPPIST-1e',
 '0923': 'TRAPPIST-1e',
 '0926': 'TRAPPIST-1e',
 '0944': 'TRAPPIST-1e',
 '0982': 'TRAPPIST-1e',
 '0984': 'TRAPPIST-1e',
 '0992': 'TRAPPIST-1e',
 '1002': 'TRAPPIST-1e',
 '1008': 'TRAPPIST-1e',
 '1024': 'TRAPPIST-1e',
 '1027': 'TRAPPIST-1e',
 '1049': 'TRAPPIST-1e',
 '1056': 'TRAPPIST-1e',
 '1089': 'TRAPPIST-1e',
 '1110': 'TRAPPIST-1e',
 '1130': 'TRAPPIST-1e',
 '1140': 'TRAPPIST-1e',
 '1148': 'TRAPPIST-1e',
 '1149': 'TRAPPIST-1e',
 '1154': 'TRAPPIST-1e',
 '1165': 'TRAPPIST-1e',
 '1182': 'TRAPPIST-1e',
 '1193': 'TRAPPIST-1e',
 '1211': 'TRAPPIST-1e',
 '1232': 'TRAPPIST-1e',
 '1287': 'TRAPPIST-1e',
 '1292': 'TRAPPIST-1e',
 '1294': 'TRAPPIST-1e',
 '1304': 'TRAPPIST-1e',
 '1306': 'TRAPPIST-1e',
 '1316': 'TRAPPIST-1e',
 '1324': 'TRAPPIST-1e',
 '1350': 'TRAPPIST-1e',
 '1365': 'TRAPPIST-1e',
 '1402': 'PSO J318.5-22',
 '1407': 'TRAPPIST-1e',
 '1421': 'TRAPPIST-1e',
 '1423': 'TRAPPIST-1e',
 '1424': 'TRAPPIST-1e',
 '1451': 'TRAPPIST-1e',
 '1452': 'TRAPPIST-1e',
 '1453': 'TRAPPIST-1e',
 '1455': 'TRAPPIST-1e',
 '1478': 'TRAPPIST-1e',
 '1491': 'TRAPPIST-1e',
 '1500': 'TRAPPIST-1e',
 '1511': 'TRAPPIST-1e',
 '1523': 'TRAPPIST-1e',
 '1527': 'TRAPPIST-1e',
 '1529': 'TRAPPIST-1e',
 '1548': 'TRAPPIST-1e',
 '1550': 'TRAPPIST-1e',
 '1568': 'TRAPPIST-1e',
 '1588': 'TRAPPIST-1e',
 '1590': 'TRAPPIST-1e',
 '1592': 'TRAPPIST-1e',
 '1599': 'TRAPPIST-1e',
 '1603': 'TRAPPIST-1e',
 '1621': 'PSO J318.5-22',
 '1624': 'TRAPPIST-1e',
 '1625': 'TRAPPIST-1e',
 '1630': 'TRAPPIST-1e',
 '1651': 'PSO J318.5-22',
 '1669': 'TRAPPIST-1e',
 '1685': 'TRAPPIST-1e',
 '1704': 'TRAPPIST-1e',
 '1731': 'PSO J318.5-22',
 '1738': 'TRAPPIST-1e',
 '1767': 'TRAPPIST-1e',
 '1783': 'PSO J318.5-22',
 '1800': 'TRAPPIST-1e',
 '1811': 'TRAPPIST-1e',
 '1829': 'TRAPPIST-1e',
 '1844': 'TRAPPIST-1e',
 '1850': 'PSO J318.5-22',
 '1860': 'TRAPPIST-1e',
 '1874': 'TRAPPIST-1e',
 '1892': 'TRAPPIST-1e',
 '1897': 'TRAPPIST-1e',
 '1916': 'TRAPPIST-1e',
 '1923': 'TRAPPIST-1e',
 '1956': 'TRAPPIST-1e',
 '1959': 'TRAPPIST-1e',
 '1960': 'TRAPPIST-1e',
 '1962': 'TRAPPIST-1e',
 '1976': 'TRAPPIST-1e',
 '1991': 'TRAPPIST-1e',
 '2009': 'TRAPPIST-1e',
 '2024': 'TRAPPIST-1e',
 '2026': 'TRAPPIST-1e',
 '2055': 'TRAPPIST-1e',
 '2056': 'TRAPPIST-1e',
 '2088': 'TRAPPIST-1e',
 '2137': 'TRAPPIST-1e',
 '2162': 'TRAPPIST-1e',
 '2183': 'TRAPPIST-1e',
 '2196': 'TRAPPIST-1e',
 '2215': 'TRAPPIST-1e',
 '2232': 'TRAPPIST-1e',
 '2234': 'TRAPPIST-1e',
 '2237': 'TRAPPIST-1e',
 '2251': 'TRAPPIST-1e',
 '2255': 'TRAPPIST-1e',
 '2257': 'TRAPPIST-1e',
 '2272': 'TRAPPIST-1e',
 '2291': 'TRAPPIST-1e',
 '2301': 'TRAPPIST-1e',
 '2306': 'TRAPPIST-1e',
 '2308': 'TRAPPIST-1e',
 '2310': 'TRAPPIST-1e',
 '2336': 'TRAPPIST-1e',
 '2338': 'TRAPPIST-1e',
 '2347': 'TRAPPIST-1e',
 '2353': 'TRAPPIST-1e',
 '2384': 'TRAPPIST-1e',
 '2404': 'TRAPPIST-1e',
 '2409': 'TRAPPIST-1e',
 '2477': 'TRAPPIST-1e',
 '2508': 'TRAPPIST-1e',
 '2518': 'TRAPPIST-1e',
 '2544': 'TRAPPIST-1e',
 '2552': 'TRAPPIST-1e',
 '2555': 'TRAPPIST-1e',
 '2560': 'TRAPPIST-1e',
 '2589': 'TRAPPIST-1e',
 '2590': 'TRAPPIST-1e',
 '2591': 'TRAPPIST-1e',
 '2595': 'TRAPPIST-1e',
 '2597': 'TRAPPIST-1e',
 '2602': 'TRAPPIST-1e',
 '2607': 'TRAPPIST-1e',
 '2645': 'TRAPPIST-1e',
 '2666': 'TRAPPIST-1e',
 '2693': 'TRAPPIST-1e',
 '2707': 'TRAPPIST-1e',
 '2720': 'TRAPPIST-1e',
 '2724': 'TRAPPIST-1e',
 '2737': 'TRAPPIST-1e',
 '2752': 'TRAPPIST-1e',
 '2762': 'TRAPPIST-1e',
 '2778': 'TRAPPIST-1e',
 '2790': 'TRAPPIST-1e',
 '2798': 'TRAPPIST-1e',
 '2799': 'TRAPPIST-1e',
 '2807': 'TRAPPIST-1e',
 '2818': 'TRAPPIST-1e',
 '2822': 'TRAPPIST-1e',
 '2826': 'TRAPPIST-1e',
 '2892': 'TRAPPIST-1e',
 '2901': 'TRAPPIST-1e',
 '2925': 'TRAPPIST-1e',
 '2928': 'TRAPPIST-1e',
 '2944': 'TRAPPIST-1e',
 '3022': 'TRAPPIST-1e',
 '3029': 'TRAPPIST-1e',
 '3030': 'TRAPPIST-1e',
 '3047': 'TRAPPIST-1e',
 '3063': 'TRAPPIST-1e',
 '3081': 'TRAPPIST-1e',
 '3113': 'TRAPPIST-1e',
 '3126': 'TRAPPIST-1e',
 '3131': 'TRAPPIST-1e',
 '3163': 'TRAPPIST-1e',
 '3189': 'TRAPPIST-1e',
 '3195': 'TRAPPIST-1e',
 '3210': 'TRAPPIST-1e',
 '3211': 'TRAPPIST-1e',
 '3216': 'TRAPPIST-1e',
 '3218': 'TRAPPIST-1e',
 '3225': 'TRAPPIST-1e',
 '3236': 'TRAPPIST-1e',
 '3271': 'TRAPPIST-1e',
 '3272': 'TRAPPIST-1e',
 '3274': 'TRAPPIST-1e',
 '3279': 'TRAPPIST-1e',
 '3280': 'PSO J318.5-22',
 '3282': 'TRAPPIST-1e',
 '3287': 'TRAPPIST-1e',
 '3292': 'TRAPPIST-1e',
 '3294': 'TRAPPIST-1e',
 '3301': 'TRAPPIST-1e',
 '3305': 'TRAPPIST-1e',
 '3318': 'TRAPPIST-1e',
 '3332': 'TRAPPIST-1e',
 '3337': 'TRAPPIST-1e',
 '3353': 'TRAPPIST-1e',
 '3361': 'TRAPPIST-1e',
 '3363': 'TRAPPIST-1e',
 '3382': 'TRAPPIST-1e',
 '3384': 'TRAPPIST-1e',
 '3391': 'TRAPPIST-1e',
 '3405': 'TRAPPIST-1e',
 '3412': 'TRAPPIST-1e',
 '3422': 'TRAPPIST-1e',
 '3428': 'TRAPPIST-1e',
 '3437': 'TRAPPIST-1e',
 '3438': 'TRAPPIST-1e',
 '3439': 'TRAPPIST-1e',
 '3444': 'TRAPPIST-1e',
 '3450': 'TRAPPIST-1e',
 '3470': 'TRAPPIST-1e',
 '3474': 'TRAPPIST-1e',
 '3475': 'TRAPPIST-1e',
 '3476': 'TRAPPIST-1e',
 '3484': 'TRAPPIST-1e',
 '3490': 'TRAPPIST-1e',
 '3495': 'TRAPPIST-1e',
 '3520': 'TRAPPIST-1e',
 '3521': 'TRAPPIST-1e',
 '3531': 'TRAPPIST-1e',
 '3543': 'TRAPPIST-1e',
 '3550': 'TRAPPIST-1e',
 '3552': 'TRAPPIST-1e',
 '3592': 'TRAPPIST-1e',
 '3608': 'TRAPPIST-1e',
 '3609': 'TRAPPIST-1e',
 '3615': 'TRAPPIST-1e',
 '3640': 'TRAPPIST-1e',
 '3641': 'TRAPPIST-1e',
 '3654': 'TRAPPIST-1e',
 '3681': 'TRAPPIST-1e',
 '3688': 'TRAPPIST-1e',
 '3699': 'TRAPPIST-1e',
 '3710': 'TRAPPIST-1e',
 '3713': 'TRAPPIST-1e',
 '3714': 'TRAPPIST-1e',
 '3715': 'TRAPPIST-1e',
 '3732': 'TRAPPIST-1e',
 '3735': 'TRAPPIST-1e',
 '3737': 'TRAPPIST-1e',
 '3742': 'TRAPPIST-1e',
 '3747': 'TRAPPIST-1e',
 '3749': 'TRAPPIST-1e',
 '3755': 'TRAPPIST-1e',
 '3758': 'TRAPPIST-1e',
 '3772': 'TRAPPIST-1e',
 '3773': 'TRAPPIST-1e',
 '3850': 'TRAPPIST-1e',
 '3862': 'TRAPPIST-1e',
 '3868': 'TRAPPIST-1e',
 '3883': 'TRAPPIST-1e',
 '3903': 'TRAPPIST-1e',
 '3911': 'TRAPPIST-1e',
 '3916': 'TRAPPIST-1e',
 '3923': 'TRAPPIST-1e',
 '3932': 'TRAPPIST-1e',
 '3959': 'TRAPPIST-1e',
 '3962': 'PSO J318.5-22',
 '3995': 'TRAPPIST-1e',
 '4001': 'TRAPPIST-1e',
 '4005': 'TRAPPIST-1e',
 '4006': 'TRAPPIST-1e',
 '4014': 'TRAPPIST-1e',
 '4031': 'TRAPPIST-1e',
 '4042': 'TRAPPIST-1e',
 '4066': 'TRAPPIST-1e',
 '4108': 'TRAPPIST-1e',
 '4113': 'TRAPPIST-1e',
 '4172': 'TRAPPIST-1e',
 '4176': 'TRAPPIST-1e',
 '4177': 'TRAPPIST-1e',
 '4181': 'TRAPPIST-1e',
 '4182': 'TRAPPIST-1e',
 '4204': 'TRAPPIST-1e',
 '4207': 'TRAPPIST-1e',
 '4249': 'TRAPPIST-1e',
 '4254': 'TRAPPIST-1e',
 '4256': 'TRAPPIST-1e',
 '4262': 'TRAPPIST-1e',
 '4295': 'TRAPPIST-1e',
 '4303': 'TRAPPIST-1e',
 '4305': 'TRAPPIST-1e',
 '4324': 'TRAPPIST-1e',
 '4336': 'TRAPPIST-1e',
 '4338': 'TRAPPIST-1e',
 '4350': 'TRAPPIST-1e',
 '4359': 'TRAPPIST-1e',
 '4371': 'TRAPPIST-1e',
 '4400': 'TRAPPIST-1e',
 '4401': 'PSO J318.5-22',
 '4427': 'TRAPPIST-1e',
 '4441': 'TRAPPIST-1e',
 '4446': 'TRAPPIST-1e',
 '4450': 'TRAPPIST-1e',
 '4469': 'TRAPPIST-1e',
 '4472': 'TRAPPIST-1e',
 '4473': 'TRAPPIST-1e',
 '4475': 'TRAPPIST-1e',
 '4482': 'TRAPPIST-1e',
 '4498': 'TRAPPIST-1e',
 '4505': 'TRAPPIST-1e',
 '4508': 'TRAPPIST-1e',
 '4509': 'TRAPPIST-1e',
 '4511': 'TRAPPIST-1e',
 '4515': 'TRAPPIST-1e',
 '4539': 'TRAPPIST-1e',
 '4542': 'TRAPPIST-1e',
 '4581': 'TRAPPIST-1e',
 '4603': 'TRAPPIST-1e',
 '4606': 'TRAPPIST-1e',
 '4625': 'TRAPPIST-1e',
 '4632': 'TRAPPIST-1e',
 '4655': 'TRAPPIST-1e',
 '4661': 'TRAPPIST-1e',
 '4663': 'TRAPPIST-1e',
 '4693': 'TRAPPIST-1e',
 '4723': 'PSO J318.5-22',
 '4726': 'TRAPPIST-1e',
 '4741': 'TRAPPIST-1e',
 '4744': 'TRAPPIST-1e',
 '4770': 'PSO J318.5-22',
 '4782': 'TRAPPIST-1e',
 '4793': 'TRAPPIST-1e',
 '4822': 'TRAPPIST-1e',
 '4841': 'TRAPPIST-1e',
 '4890': 'TRAPPIST-1e',
 '4891': 'TRAPPIST-1e',
 '4899': 'TRAPPIST-1e',
 '4932': 'TRAPPIST-1e',
 '4944': 'TRAPPIST-1e',
 '4973': 'TRAPPIST-1e',
 '4974': 'TRAPPIST-1e',
 '4975': 'TRAPPIST-1e',
 '4981': 'TRAPPIST-1e',
 '5006': 'TRAPPIST-1e',
 '5036': 'TRAPPIST-1e',
 '5040': 'TRAPPIST-1e',
 '5044': 'TRAPPIST-1e',
 '5052': 'TRAPPIST-1e',
 '5058': 'TRAPPIST-1e',
 '5060': 'TRAPPIST-1e',
 '5072': 'TRAPPIST-1e',
 '5090': 'TRAPPIST-1e',
 '5097': 'TRAPPIST-1e',
 '5112': 'TRAPPIST-1e',
 '5115': 'TRAPPIST-1e',
 '5133': 'TRAPPIST-1e',
 '5156': 'TRAPPIST-1e',
 '5174': 'TRAPPIST-1e',
 '5194': 'TRAPPIST-1e',
 '5206': 'PSO J318.5-22',
 '5207': 'TRAPPIST-1e',
 '5223': 'TRAPPIST-1e',
 '5254': 'TRAPPIST-1e',
 '5264': 'TRAPPIST-1e',
 '5282': 'TRAPPIST-1e',
 '5301': 'TRAPPIST-1e',
 '5303': 'TRAPPIST-1e',
 '5320': 'TRAPPIST-1e',
 '5334': 'TRAPPIST-1e',
 '5353': 'TRAPPIST-1e',
 '5354': 'TRAPPIST-1e',
 '5367': 'TRAPPIST-1e',
 '5390': 'TRAPPIST-1e',
 '5397': 'TRAPPIST-1e',
 '5414': 'TRAPPIST-1e',
 '5416': 'TRAPPIST-1e',
 '5424': 'TRAPPIST-1e',
 '5440': 'TRAPPIST-1e',
 '5447': 'TRAPPIST-1e',
 '5466': 'TRAPPIST-1e',
 '5511': 'TRAPPIST-1e',
 '5514': 'TRAPPIST-1e',
 '5522': 'TRAPPIST-1e',
 '5527': 'TRAPPIST-1e',
 '5531': 'TRAPPIST-1e',
 '5535': 'TRAPPIST-1e',
 '5545': 'TRAPPIST-1e',
 '5568': 'TRAPPIST-1e',
 '5585': 'TRAPPIST-1e',
 '5601': 'TRAPPIST-1e',
 '5602': 'TRAPPIST-1e',
 '5606': 'TRAPPIST-1e',
 '5610': 'TRAPPIST-1e',
 '5625': 'TRAPPIST-1e',
 '5643': 'TRAPPIST-1e',
 '5647': 'TRAPPIST-1e',
 '5661': 'PSO J318.5-22',
 '5679': 'TRAPPIST-1e',
 '5684': 'TRAPPIST-1e',
 '5740': 'TRAPPIST-1e',
 '5756': 'TRAPPIST-1e',
 '5768': 'TRAPPIST-1e',
 '5769': 'TRAPPIST-1e',
 '5780': 'TRAPPIST-1e',
 '5812': 'TRAPPIST-1e',
 '5814': 'TRAPPIST-1e',
 '5855': 'TRAPPIST-1e',
 '5856': 'TRAPPIST-1e',
 '5863': 'TRAPPIST-1e',
 '5876': 'TRAPPIST-1e',
 '5885': 'TRAPPIST-1e',
 '5888': 'TRAPPIST-1e',
 '5909': 'TRAPPIST-1e',
 '5927': 'TRAPPIST-1e',
 '5930': 'TRAPPIST-1e',
 '5938': 'TRAPPIST-1e',
 '5945': 'TRAPPIST-1e',
 '5960': 'TRAPPIST-1e',
 '5967': 'TRAPPIST-1e',
 '5969': 'TRAPPIST-1e',
 '5977': 'TRAPPIST-1e',
 '5984': 'TRAPPIST-1e',
 '6015': 'TRAPPIST-1e',
 '6020': 'TRAPPIST-1e',
 '6028': 'TRAPPIST-1e',
 '6032': 'TRAPPIST-1e',
 '6033': 'TRAPPIST-1e',
 '6034': 'TRAPPIST-1e',
 '6055': 'TRAPPIST-1e',
 '6066': 'TRAPPIST-1e',
 '6092': 'TRAPPIST-1e',
 '6111': 'TRAPPIST-1e',
 '6118': 'TRAPPIST-1e',
 '6139': 'TRAPPIST-1e',
 '6168': 'PSO J318.5-22',
 '6174': 'TRAPPIST-1e',
 '6200': 'TRAPPIST-1e',
 '6218': 'TRAPPIST-1e',
 '6224': 'TRAPPIST-1e',
 '6253': 'TRAPPIST-1e',
 '6270': 'TRAPPIST-1e',
 '6285': 'TRAPPIST-1e',
 '6302': 'TRAPPIST-1e',
 '6305': 'TRAPPIST-1e',
 '6309': 'TRAPPIST-1e',
 '6321': 'TRAPPIST-1e',
 '6323': 'TRAPPIST-1e',
 '6324': 'TRAPPIST-1e',
 '6328': 'TRAPPIST-1e',
 '6334': 'TRAPPIST-1e',
 '6340': 'TRAPPIST-1e',
 '6344': 'TRAPPIST-1e',
 '6363': 'TRAPPIST-1e',
 '6367': 'TRAPPIST-1e',
 '6372': 'TRAPPIST-1e',
 '6380': 'TRAPPIST-1e',
 '6394': 'TRAPPIST-1e',
 '6402': 'TRAPPIST-1e',
 '6405': 'TRAPPIST-1e',
 '6421': 'TRAPPIST-1e',
 '6428': 'TRAPPIST-1e',
 '6431': 'PSO J318.5-22',
 '6433': 'TRAPPIST-1e',
 '6443': 'TRAPPIST-1e',
 '6450': 'TRAPPIST-1e',
 '6472': 'TRAPPIST-1e',
 '6482': 'TRAPPIST-1e',
 '6485': 'TRAPPIST-1e',
 '6490': 'TRAPPIST-1e',
 '6511': 'TRAPPIST-1e',
 '6514': 'TRAPPIST-1e',
 '6525': 'TRAPPIST-1e',
 '6526': 'TRAPPIST-1e',
 '6556': 'TRAPPIST-1e',
 '6583': 'TRAPPIST-1e',
 '6593': 'TRAPPIST-1e',
 '6611': 'TRAPPIST-1e',
 '6622': 'TRAPPIST-1e',
 '6625': 'PSO J318.5-22',
 '6634': 'TRAPPIST-1e',
 '6635': 'TRAPPIST-1e',
 '6641': 'TRAPPIST-1e',
 '6654': 'TRAPPIST-1e',
 '6662': 'TRAPPIST-1e',
 '6665': 'TRAPPIST-1e',
 '6671': 'TRAPPIST-1e',
 '6672': 'TRAPPIST-1e',
 '6674': 'TRAPPIST-1e',
 '6675': 'TRAPPIST-1e',
 '6708': 'TRAPPIST-1e',
 '6729': 'TRAPPIST-1e',
 '6741': 'TRAPPIST-1e',
 '6744': 'TRAPPIST-1e',
 '6756': 'TRAPPIST-1e',
 '6766': 'TRAPPIST-1e',
 '6779': 'TRAPPIST-1e',
 '6780': 'TRAPPIST-1e',
 '6784': 'TRAPPIST-1e',
 '6787': 'TRAPPIST-1e',
 '6810': 'TRAPPIST-1e',
 '6816': 'TRAPPIST-1e',
 '6827': 'TRAPPIST-1e',
 '6843': 'TRAPPIST-1e',
 '6850': 'TRAPPIST-1e',
 '6858': 'TRAPPIST-1e',
 '6864': 'TRAPPIST-1e',
 '6882': 'TRAPPIST-1e',
 '6905': 'TRAPPIST-1e',
 '6906': 'TRAPPIST-1e',
 '6921': 'TRAPPIST-1e',
 '6934': 'TRAPPIST-1e',
 '6968': 'TRAPPIST-1e',
 '6971': 'TRAPPIST-1e',
 '6977': 'TRAPPIST-1e',
 '6991': 'TRAPPIST-1e',
 '7028': 'TRAPPIST-1e',
 '7029': 'TRAPPIST-1e',
 '7069': 'TRAPPIST-1e',
 '7083': 'TRAPPIST-1e',
 '7085': 'TRAPPIST-1e',
 '7097': 'TRAPPIST-1e',
 '7113': 'TRAPPIST-1e',
 '7152': 'TRAPPIST-1e',
 '7176': 'TRAPPIST-1e',
 '7257': 'TRAPPIST-1e',
 '7290': 'TRAPPIST-1e',
 '7395': 'TRAPPIST-1e',
 '7396': 'TRAPPIST-1e',
 '7402': 'TRAPPIST-1e',
 '7437': 'TRAPPIST-1e',
 '7442': 'TRAPPIST-1e',
 '7452': 'TRAPPIST-1e',
 '7488': 'TRAPPIST-1e',
 '7507': 'TRAPPIST-1e',
 '7518': 'TRAPPIST-1e',
 '7524': 'TRAPPIST-1e',
 '7525': 'TRAPPIST-1e',
 '7531': 'TRAPPIST-1e',
 '7538': 'TRAPPIST-1e',
 '7565': 'TRAPPIST-1e',
 '7585': 'TRAPPIST-1e',
 '7596': 'TRAPPIST-1e',
 '7609': 'TRAPPIST-1e',
 '7643': 'TRAPPIST-1e',
 '7650': 'TRAPPIST-1e',
 '7697': 'TRAPPIST-1e',
 '7749': 'TRAPPIST-1e',
 '7761': 'TRAPPIST-1e',
 '7770': 'TRAPPIST-1e',
 '7782': 'TRAPPIST-1e',
 '7787': 'TRAPPIST-1e',
 '7790': 'TRAPPIST-1e',
 '7830': 'TRAPPIST-1e',
 '7833': 'TRAPPIST-1e',
 '7837': 'TRAPPIST-1e',
 '7858': 'TRAPPIST-1e',
 '7865': 'TRAPPIST-1e',
 '7872': 'TRAPPIST-1e',
 '7890': 'TRAPPIST-1e',
 '7891': 'TRAPPIST-1e',
 '7902': 'TRAPPIST-1e',
 '7905': 'TRAPPIST-1e',
 '7937': 'TRAPPIST-1e',
 '7943': 'PSO J318.5-22',
 '7950': 'TRAPPIST-1e',
 '7972': 'TRAPPIST-1e',
 '7993': 'TRAPPIST-1e',
 '8005': 'TRAPPIST-1e',
 '8007': 'TRAPPIST-1e',
 '8015': 'TRAPPIST-1e',
 '8027': 'TRAPPIST-1e',
 '8043': 'TRAPPIST-1e',
 '8050': 'TRAPPIST-1e',
 '8052': 'TRAPPIST-1e',
 '8057': 'TRAPPIST-1e',
 '8072': 'TRAPPIST-1e',
 '8082': 'TRAPPIST-1e',
 '8092': 'TRAPPIST-1e',
 '8098': 'TRAPPIST-1e',
 '8117': 'TRAPPIST-1e',
 '8122': 'TRAPPIST-1e',
 '8129': 'TRAPPIST-1e',
 '8130': 'TRAPPIST-1e',
 '8136': 'TRAPPIST-1e',
 '8144': 'TRAPPIST-1e',
 '8147': 'TRAPPIST-1e',
 '8150': 'TRAPPIST-1e',
 '8157': 'TRAPPIST-1e',
 '8168': 'TRAPPIST-1e',
 '8186': 'TRAPPIST-1e',
 '8202': 'TRAPPIST-1e',
 '8203': 'TRAPPIST-1e',
 '8238': 'TRAPPIST-1e',
 '8248': 'TRAPPIST-1e',
 '8252': 'TRAPPIST-1e',
 '8306': 'TRAPPIST-1e',
 '8307': 'TRAPPIST-1e',
 '8314': 'TRAPPIST-1e',
 '8318': 'TRAPPIST-1e',
 '8322': 'PSO J318.5-22',
 '8342': 'TRAPPIST-1e',
 '8363': 'TRAPPIST-1e',
 '8368': 'TRAPPIST-1e',
 '8418': 'TRAPPIST-1e',
 '8449': 'TRAPPIST-1e',
 '8451': 'TRAPPIST-1e',
 '8452': 'TRAPPIST-1e',
 '8458': 'TRAPPIST-1e',
 '8503': 'TRAPPIST-1e',
 '8504': 'TRAPPIST-1e',
 '8541': 'TRAPPIST-1e',
 '8556': 'TRAPPIST-1e',
 '8557': 'TRAPPIST-1e',
 '8574': 'TRAPPIST-1e',
 '8596': 'TRAPPIST-1e',
 '8598': 'PSO J318.5-22',
 '8602': 'TRAPPIST-1e',
 '8605': 'TRAPPIST-1e',
 '8616': 'TRAPPIST-1e',
 '8618': 'TRAPPIST-1e',
 '8638': 'TRAPPIST-1e',
 '8646': 'TRAPPIST-1e',
 '8656': 'TRAPPIST-1e',
 '8663': 'TRAPPIST-1e',
 '8719': 'TRAPPIST-1e',
 '8728': 'TRAPPIST-1e',
 '8741': 'TRAPPIST-1e',
 '8770': 'TRAPPIST-1e',
 '8789': 'TRAPPIST-1e',
 '8796': 'TRAPPIST-1e',
 '8816': 'TRAPPIST-1e',
 '8826': 'TRAPPIST-1e',
 '8862': 'TRAPPIST-1e',
 '8871': 'TRAPPIST-1e',
 '8886': 'TRAPPIST-1e',
 '8944': 'TRAPPIST-1e',
 '8948': 'TRAPPIST-1e',
 '8956': 'TRAPPIST-1e',
 '8986': 'TRAPPIST-1e',
 '8988': 'TRAPPIST-1e',
 '8989': 'TRAPPIST-1e',
 '8997': 'TRAPPIST-1e',
 '9013': 'TRAPPIST-1e',
 '9034': 'TRAPPIST-1e',
 '9046': 'TRAPPIST-1e',
 '9052': 'TRAPPIST-1e',
 '9057': 'TRAPPIST-1e',
 '9069': 'TRAPPIST-1e',
 '9073': 'TRAPPIST-1e',
 '9074': 'TRAPPIST-1e',
 '9077': 'PSO J318.5-22',
 '9081': 'TRAPPIST-1e',
 '9085': 'TRAPPIST-1e',
 '9094': 'TRAPPIST-1e',
 '9118': 'TRAPPIST-1e',
 '9128': 'TRAPPIST-1e',
 '9131': 'TRAPPIST-1e',
 '9157': 'TRAPPIST-1e',
 '9161': 'TRAPPIST-1e',
 '9168': 'TRAPPIST-1e',
 '9179': 'TRAPPIST-1e',
 '9194': 'TRAPPIST-1e',
 '9197': 'TRAPPIST-1e',
 '9205': 'TRAPPIST-1e',
 '9219': 'TRAPPIST-1e',
 '9220': 'TRAPPIST-1e',
 '9227': 'TRAPPIST-1e',
 '9231': 'TRAPPIST-1e',
 '9280': 'TRAPPIST-1e'}

In [157]:
data['Destination'].isna().sum()

182

In [158]:
data['Destination'].fillna(data['passenger'].map(dest_dict),inplace=True)

In [159]:
data['Destination'].isna().sum()

157

In [160]:
data['Destination'].sort_values(0,ascending=False)

0       TRAPPIST-1e
5246    TRAPPIST-1e
5265    TRAPPIST-1e
5261    TRAPPIST-1e
5260    TRAPPIST-1e
           ...
8195            NaN
8217            NaN
8551            NaN
8616            NaN
8646            NaN
Name: Destination, Length: 8693, dtype: object

In [161]:
data['Destination'].fillna('TRAPPIST-1e',inplace=True)

In [162]:
data['CryoSleep'].value_counts()

False    5439
True     3037
Name: CryoSleep, dtype: int64

In [163]:
data['Fee']

0           0.0
1         736.0
2       10383.0
3        5176.0
4        1091.0
         ...
8688     8536.0
8689        0.0
8690     1873.0
8691     4637.0
8692     4826.0
Name: Fee, Length: 8693, dtype: float64

In [164]:
data['CryoSleep']=np.where(data['Fee']>0,False,True)

In [165]:
data['Age'].fillna(data['Age'].median(),inplace=True)

In [166]:
data.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin           199
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
passenger         0
Name2           200
Fee             908
deck              0
side              0
dtype: int64

In [167]:
drop_list=['Name','Name2','Fee','Cabin','PassengerId']

In [168]:
data.drop(drop_list,axis=1,inplace=True)

In [169]:
data

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,passenger,deck,side
0,C,True,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,0001,B,P
1,G,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,0002,F,S
2,C,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,0003,A,S
3,C,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,0003,A,S
4,G,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,0004,F,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,C,False,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False,9276,A,P
8689,G,True,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False,9278,G,S
8690,G,False,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True,9279,G,S
8691,C,False,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False,9280,E,S
8692,C,False,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True,9280,E,S

In [170]:
index=data.dtypes.index
value=data.dtypes.values

In [171]:
index

Index(['HomePlanet', 'CryoSleep', 'Destination', 'Age', 'VIP', 'RoomService',
       'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Transported',
       'passenger', 'deck', 'side'],
      dtype='object')

In [172]:
obj_list=[]
for i,j in zip(index,value):
    if j=='object':
        obj_list.append(i)

In [173]:
obj_list

['HomePlanet', 'Destination', 'passenger', 'deck', 'side']

In [174]:
bool_list=[]
for i,j in zip(index,value):
    if j=='bool':
        bool_list.append(i)

In [175]:
bool_list

['CryoSleep', 'VIP', 'Transported']

In [176]:
for col in obj_list:
    label=LabelEncoder()
    data[col]=label.fit_transform(data[col])

In [177]:
for col in bool_list:
    label=LabelEncoder()
    data[col]=label.fit_transform(data[col])

In [178]:
data

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,passenger,deck,side
0,0,1,2,39.0,0,0.0,0.0,0.0,0.0,0.0,0,0,1,0
1,2,0,2,24.0,0,109.0,9.0,25.0,549.0,44.0,1,1,5,1
2,0,0,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,2,0,1
3,0,0,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,2,0,1
4,2,0,2,16.0,0,303.0,70.0,151.0,565.0,2.0,1,3,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,0,0,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,0,6213,0,0
8689,2,1,1,18.0,0,0.0,0.0,0.0,0.0,0.0,0,6214,6,1
8690,2,0,2,26.0,0,0.0,0.0,1872.0,1.0,0.0,1,6215,6,1
8691,0,0,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0,0,6216,4,1
8692,0,0,2,44.0,0,126.0,4688.0,0.0,0.0,12.0,1,6216,4,1

In [179]:
X=data.drop('Transported',axis=1)
Y=data.Transported

In [180]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [181]:
model=RandomForestClassifier()

In [182]:
model.fit(x_train,y_train)

RandomForestClassifier()

In [183]:
model.score(x_train,y_train)

0.9992809893586425

In [184]:
model.score(x_test,y_test)

0.7849338700402531

In [185]:
data.isnull().sum()

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
passenger       0
deck            0
side            0
dtype: int64

In [186]:
real

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [ ]:
s

In [190]:
pd.DataFrame(submit)

     PassengerId  Transported
0        0013_01        False
1        0018_01        False
2        0019_01        False
3        0021_01        False
4        0023_01        False
...          ...          ...
4272     9266_02        False
4273     9269_01        False
4274     9271_01        False
4275     9273_01        False
4276     9277_01        False

[4277 rows x 2 columns]