In [ ]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0: # 3으로 나누어 떨어지는 수는 3의 배수
        result += i
    i += 1

print(result) # 166833 출력

In [ ]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
        i+= 1
print(result)

In [ ]:
s=0
list_1=range(1,6)
for i

In [ ]:
1+2

In [6]:
def a0(num) :
    return num * 2
print(a0(1))

2

In [5]:
def a1(num) :
    return a0(num + 2)
print(a1(1))

6

In [3]:
def a2(num) :
    num = num + 10
    return a1(num)
print(a2(2))

28