In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [75]:
data5={'method':'topStore',
       'nowPage':'1',
       'rankNo':'',
       'gameNo':'5133',
       'drwNo':'1037',
       'schKey':'all',
       'schVal':''}

In [5]:
url2='https://dhlottery.co.kr/store.do?method=topStore&pageGubun=L645'
req2=requests.post(url2,data=data5)
html2=req2.text
soup2=BeautifulSoup(html2,'html.parser')

In [ ]:
### 회차 상호명 구분 주소
### 1000~1038회 pandas

In [12]:
#포스트 인자를 프로토콜에 넣어서 전달
#get url 안에 들어가 있음

In [9]:
data3=[]
for i in range(1000,1039):
    data5 = {'method':'topStore',
             'nowPage':'1',
             'rankNo':'',
             'gameNo':'5133',
             'drwNo':i,
             'schKey':'all',
             'schVal':''}
    
    req2=requests.post(url2,data=data5)
    html2=req2.text
    soup2=BeautifulSoup(html2,'html.parser')
    
    
    name2=soup2.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr> td:nth-child(2)')
    division2=soup2.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')
    address2=soup2.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr> td:nth-child(4)')
    

    for j in range(len(name2)):
        temp=[]
        temp.append(i)
        temp.append(name2[j].text)
        temp.append(division2[j].text.strip())
        temp.append(address2[j].text)
        data3.append(temp)

In [10]:
df=pd.DataFrame(data3,columns=['회차','상호명','구분','소재지'])

In [11]:
df

       회차          상호명  구분                                               소재지
0    1000         행운식품  자동                                  서울 관악구 신원로3길 21
1    1000    로또백화점 홍은점  수동                           서울 서대문구 세검정로 99-1 1층 좌측
2    1000  인터넷 복권판매사이트  수동                            동행복권(dhlottery.co.kr)
3    1000         복권나라  수동                            서울 성동구 용답중앙15길 12-1 1층
4    1000      티에스네트웍스  자동  서울 영등포구 신길로28길  9 상가동 B2층 00006호(신길동, 힐스테이트클래시안)
..    ...          ...  ..                                               ...
454  1038   이마트24망상해변점  자동           강원 동해시 동해대로 6270-20 1층 118호, 이마트24망상해변점
455  1038         NG24  수동                                  경북 칠곡군 북중리3길 59
456  1038    천하명당(팔용점)  자동                                경남 창원시 의창구 사화로 26
457  1038          킹로또  수동                               제주 제주시 아란4길 85-5 1층
458  1038        행운복권방  수동                                 제주 제주시 우정로11길 12

[459 rows x 4 columns]

In [18]:
for i in range(1000,1039):
    
    data5={'method':'topStore',
           'nowPage':'1',
           'rankNo':'',
           'gameNo':'5133',
           'drwNo':i,
           'schKey':'all',
           'schVal':''}
    
    
    req2=requests.post(url2,data=data5)### 버튼 클릭
    html2=req2.text### text로 변경
    soup2=BeautifulSoup(html2,'html.parser')### 보기 좋게 정렬
    
    name2=soup2.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr> td:nth-child(2)')
    division2=soup2.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')
    address2=soup2.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr> td:nth-child(4)')
    for j in range(len(name2)):
        print(j)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
0
1
2
3
4
5
6
7
8
9
10
11
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8
9
10
11
12
13
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
10
11
0
1
2
3
4
5
6
7
8
0
1
2
3
4
5
6
7
8
0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10
11
12
0
1
2
3
4
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
0
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
0
1
2
3
4
5
6
7
8
9
10
11
12
0
1
2
3
4
5
6
7
8
9
10
11
0
1
2
3
4
0
1
2
3
4
5
6
7
8
0
1
2
3
4
5
6
7
0
1
2
3
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
10
11
12
0
1
2
3
4
5
6
7
8
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [15]:
header={'User-Agent:Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36'}

In [20]:
df.to_csv('lotto.csv',index=False,encoding='euc-kr')

In [23]:
df['회차'].value_counts()

1019    50
1000    22
1028    20
1030    19
1038    15
1037    15
1026    15
1009    15
1003    14
1012    13
1033    13
1020    13
1021    12
1001    12
1005    12
1008    11
1011    11
1016    11
1004    10
1032    10
1014    10
1027    10
1029    10
1036     9
1034     9
1006     9
1023     9
1007     9
1035     8
1031     8
1002     8
1024     8
1010     8
1015     8
1017     7
1013     5
1022     5
1025     4
1018     2
Name: 회차, dtype: int64

In [26]:
df[df['회차']==1019]

       회차          상호명   구분                                      소재지
197  1019  미나식품(로또판매점)   수동                       서울 강서구 금낭화로 91-12
198  1019         장수복권   수동                        서울 관악구 난곡로 223 1층
199  1019        Today   수동          서울 광진구 광나루로56길 85 테크노마트9층판매동24호
200  1019        종합가판점   수동  서울 동대문구 왕산로40길 6 건물 앞쪽 가판점 청량리역 5번출구 앞쪽
201  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
202  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
203  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
204  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
205  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
206  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
207  1019         잠실매점   수동            서울 송파구 올림픽로 269 잠실역 8번출구 앞 가판
208  1019         우리마트   수동                           서울 중구 창경궁로 11
209  1019          신간판   수동                            서울 중구 무교로 24
210  1019       빅세일복권방   수동                         부산 부산진구 서면문화로 6
211  1019         청솔서점   수동                        부산 사하구 하신번영로 195
212  1019        플러스로또   수동                  대구 달서구 월곡로45길 56,(상인동)
213  1019         로또명당  반자동                         인천 남동구 호구포로 874
214  1019         대박스타   수동                       인천 미추홀구 경인로 348 1층
215  1019      무판안경시청점   수동                         울산 남구 중앙로 210-1
216  1019     광명24시편의점  반자동                       울산 동구 방어진순환도로 945
217  1019          복권방   자동                           울산 울주군 덕남로 87
218  1019    경은 로또 판매점   수동                          울산 중구 태화로 37 1층
219  1019       다정로또복권   자동                           세종   다정중앙로 52
220  1019      대박복권판매점   수동            경기 김포시 김포한강11로140번길 8-12 102호
221  1019      오남 로또택배   수동               경기 남양주시 진건오남로 814 B동 1층 5호
222  1019         팡팡마트   수동                경기 남양주시 진건오남로522번길 3 102호
223  1019        또와또복권   수동            경기 성남시 수정구 수정로 215 왼쪽2호 (태평동)
224  1019        크로바쉼터   수동              경기 성남시 수정구 대왕판교로 1289 1층 5호
225  1019     따따블 대박로또   수동                경기 시흥시 서울대학로278번길 26 109호
226  1019         머니머니   자동                    경기 시흥시 월곶중앙로14번길 100
227  1019         로또복권   수동                         경기 오산시 성호새싹길 11
228  1019         대박로또   자동                       경기 용인시 기흥구 신갈로 32
229  1019       노다지복권방   자동                      경기 용인시 처인구 금령로 130
230  1019        행운복권방   수동                        경기 포천시 솔모루로 86-1
231  1019        서해로또방   수동                         경기 화성시 화성로 1471
232  1019       드림 복권방   수동                        경기 화성시 효행로 216 1층
233  1019        황금복권방   수동                          강원 인제군 인제로 232
234  1019         사내로또   수동                     강원 화천군 문화마을1길 113 1층
235  1019        행운복권방   수동                충북 청주시 상당구 단재로 119,(영운동)
236  1019        행운복권방   수동                충북 청주시 상당구 단재로 119,(영운동)
237  1019         로또매점   수동                          충남 당진시 송산로 723
238  1019         1등명당   수동                          충남 서천군 장항로 220
239  1019         1등명당   수동                          충남 서천군 장항로 220
240  1019         1등명당   수동                          충남 서천군 장항로 220
241  1019        남원복권방   자동                          전북 남원시 남문로 414
242  1019         대박찬스   수동                           전북 정읍시 관통로 59
243  1019  광양복권나라(로터리)   수동                            전남 광양시 백운로 1
244  1019         복받는날   수동                        경북 포항시 북구 삼흥로 64
245  1019          스마일   수동                     경남 양산시 북안남4길 2 복권판매점
246  1019      범어로또판매점   수동                   경남 양산시 목화로 52 좌측 복권판매점

In [27]:
df['구분'].value_counts()

자동     300
수동     147
반자동     12
Name: 구분, dtype: int64

In [29]:
df['소재지'].value_counts()

동행복권(dhlottery.co.kr)            19
경기 동두천시 중앙로 134-30                5
충남 서천군 장항로 220                    3
서울 영등포구 디지털로 387                  2
경기 고양시 일산서구 중앙로 1437 화성프라자 도로     2
                                 ..
서울 중구 세종대로14길 6-2                 1
서울 강남구 선릉로 628                    1
전북 남원시 가방뜰길 57 금동휴먼시아 상가          1
충남 천안시 서북구 밤개울1길 1-5              1
제주 제주시 우정로11길 12                  1
Name: 소재지, Length: 403, dtype: int64

In [35]:
df[df['소재지'].str.contains('서울')].value_counts()

회차    상호명           구분  소재지
1016  가판14호         자동  서울 중구 퇴계로 37                                   2
1000  로또백화점 홍은점     수동  서울 서대문구 세검정로 99-1 1층 좌측                        1
1024  로또 光복권        자동  서울 구로구 개봉로23가길 37                              1
1028  GS25(명륜성대점)   자동  서울 종로구 명륜길 2                                   1
1026  자양사거리가로매점     자동  서울 광진구 자양로 95                                  1
                                                                      ..
1013  스파            자동  서울 노원구 동일로 1493 상계주공아파트(10단지) 주공10단지종합상가111    1
      삼성마트          자동  서울 강남구 선릉로 628                                 1
      가로가판대제57호(구)  자동  서울 중구 세종대로14길 6-2                              1
1012  세계로생활가전       수동  서울 동작구 보라매로 104 1층                             1
1038  하나복권(가로판매점)   자동  서울 영등포구 여의나루로 42 가로판매점(여의도동)                   1
Length: 84, dtype: int64

In [36]:
df[df['소재지'].str.contains('경기')].value_counts()

회차    상호명          구분  소재지
1003  해뜰날          수동  경기 동두천시 중앙로 134-30                       5
1026  서민           수동  경기 광주시 무들로 211                           2
1037  꽃길           수동  경기 수원시 권선구 정조로 571 1층(세류동)               2
1001  최강복권&아이스크림   수동  경기 고양시 덕양구 삼송로 176-1                     2
1028  로또명당 대박복권방   자동  경기 광명시 소하로 78 109호(소하동, 신성프라자)           1
                                                               ..
1011  복권나라         수동  경기 수원시 장안구 장안로 288 수단란주점 1층              1
      J마트          수동  경기 안양시 만안구 안양로 145-1                     1
1010  복권 판매점       자동  경기 구리시 안골로 103                           1
      로또25시        수동  경기 수원시 권선구 금곡로102번길 15 비즈웍스 비즈웍스 111호    1
1038  한아름복권방(매탄점)  수동  경기 수원시 영통구 권선로 808                       1
Length: 114, dtype: int64

In [40]:
len(df[df['소재지'].str.contains('인천')].value_counts())

28

In [39]:
len(df[df['소재지'].str.contains('대전')])

10

In [41]:
len(df[df['소재지'].str.contains('부산')])

26

In [42]:
len(df[df['소재지'].str.contains('광주')])

12

In [43]:
len(df[df['소재지'].str.contains('대구')])

18

In [57]:
df['소재지'].str.split(' ',expand=True)

,0,1,2,3,4,5,6,7,8,9
0,서울,관악구,신원로3길,21,,None,None,None,None,None
1,서울,서대문구,세검정로,99-1,1층,좌측,None,None,None,None
2,동행복권(dhlottery.co.kr),,None,None,None,None,None,None,None,None
3,서울,성동구,용답중앙15길,12-1,1층,None,None,None,None,None
4,서울,영등포구,신길로28길,,9,상가동,B2층,"00006호(신길동,",힐스테이트클래시안),None
...,...,...,...,...,...,...,...,...,...,...
454,강원,동해시,동해대로,6270-20,1층,"118호,",이마트24망상해변점,None,None,None
455,경북,칠곡군,북중리3길,59,,None,None,None,None,None
456,경남,창원시,의창구,사화로,26,,None,None,None,None
457,제주,제주시,아란4길,85-5,1층,None,None,None,None,None
458,제주,제주시,우정로11길,12,,None,None,None,None,None

In [60]:
df['A']=df['소재지'].str.split(' ',expand=True)[0]

In [62]:
df['B']=df['소재지'].str.split(' ',expand=True)[1]

In [63]:
df['A'].value_counts()

경기                       121
서울                        84
인천                        28
충남                        28
경남                        26
부산                        26
동행복권(dhlottery.co.kr)     19
전남                        17
전북                        17
경북                        17
대구                        16
강원                        12
울산                        10
대전                        10
광주                         9
제주                         9
충북                         8
세종                         2
Name: A, dtype: int64

In [64]:
df['B'].value_counts()

       21
서구     14
수원시    13
중구     12
동구     11
       ..
정읍시     1
울진군     1
용산구     1
영주시     1
동해시     1
Name: B, Length: 128, dtype: int64

In [67]:
df['C']=df['A']+ ' ' +df['B']

Empty DataFrame
Columns: [회차, 상호명, 구분, 소재지, A, B, C]
Index: []